[2018-04-21 22:37] Jont828 opened #1 "Electron: "No such file or directory""
Hello, I'm trying your Todoist client, and when I ran the todoist script, I got the following error: "./todoist: line 7: /home/my-username/todoist-linux/electron: No such file or directory".

[2018-04-26 16:07] AlexeyKot opened #2 "[Feature Request] Add download options"
Thanks for you app!
It would be great if you add download options like: .deb, .rpm, snap, flatpak, .appimage

[2018-04-26 16:15] KryDos commented on #2
hey, thanks for the feedback. Sure it make sense.

Do you know any publicly available systems (maybe docker image(s)) that can help me to build multiple packages for different distros?

The only way I see is to have multiple VMs with different distros and build the package for particular distro using its build-tools. I'm ok to maintain deb-based and rpm-based distro, but I'm not sure about more.

[2018-04-27 13:42] klauscfhq commented on #2
The [electron-builder](https://github.com/electron-userland/electron-builder) module can be utilized for this purpose quite easily, and be integrated with a CI; like [travis](http://travis-ci.org/) or [appveyor](http://appveyor.com), to build and release all needed binaries. [Docker support is also included](https://www.electron.build/multi-platform-build), here are a couple of links to dig deeper

[2018-04-30 20:55] KryDos commented on #2
Hi guys.

I was finally able to build DEB and RPM packages locally on my machine.

I've updated latest release with both packages here - https://github.com/KryDos/todoist-linux/releases/tag/1.3

took quite long time to make icon appear correctly for the app, but should be ok now.
I'm closing the issue for now. Feel free to reopen it.

[2018-04-30 20:55] #2 closed

[2018-05-02 09:49] saikatm opened #3 "Windows Build"
I know this builds are only for Linux. As it is based on electron it is easy to also make WIndows Build.
Please release builds for windows too. I would really appreciate that!

[2018-05-02 09:53] KryDos commented on #3
Hi @saikatm,
hm, didn't think about actually.

As far as I know Todoist has official client for Windows. Take a look here - https://todoist.com/downloads
I'm pretty sure official windows version is going to be much more optimized than the current version wrapped with Electron.

Is there any reason you see I should make windows version as well?

[2018-05-03 09:49] AlexeyKot opened #4 "[Feature Request] Global shortcuts"
Hey!
It would be great to have a global shortcut to show Todoist window, something like "Alt+Shift+T". It would be cool to make it customizable at least editing some file though.

Extra bonus
It would awesome to have global shortcut to add a new note. I know that it is possible, but I also know that this task is more tricky.

You may ask [Klaus](https://github.com/klauscfhq) how to achieve that, b

[2018-05-03 09:57] AlexeyKot opened #5 "[Bug] The main window doesn't load first time after log in"
When I first install the app and entered my log in and password, it shows me that everything is good, wait till the main window will appear on click on the link if it doesn't. It didn't appear, but when I clicked on the link to manually refresh the page, the second window was opened, while the old window was still there.
When I restarted the app - everything was fine.

[2018-05-03 09:59] AlexeyKot commented on #2
Cool, thanks! Already using your .deb package.

By the way, on README.md you named download options is "Debiana" instead of "Debian" and the link goes to your dropbox, rather then github hosting as on Release page.

[2018-05-03 12:36] KryDos commented on #4
Hey! thanks for the great ideas!

`It would awesome to have global shortcut to add a new note` - could you please describe a bit this idea? As far as I know there is no "Notes" in Todoist in general, you can attach comments (which are notes, yeah) to a task. The shortcust for this is `CTRL+m`. It's shortcut of Todoist itself (their web version). Is it what you need?

[2018-05-03 12:37] KryDos commented on #4
As for "Show todoist" shortcut, I'll make it ASAP. Try to make it configurable.

[2018-05-03 12:39] KryDos commented on #5
Saw it once as well. Will try to reproduce it with clear setup in VM.  Thanks!

[2018-05-04 12:35] AlexeyKot commented on #4
@KryDos sorry, I meant to create a global shortcut to create a new task, not note :-)

[2018-05-04 12:36] KryDos commented on #4
@AlexeyKot but it's exists already :) it's actually the only global shortcut the app has.

`CTRL+ALT+a` - calls "quick task" functionality of todoist.

[2018-05-05 17:34] saikatm commented on #3
@KryDos Todoist has two apps for windows. one is a UWP app from the windows store and the other one is a web wrapper. but it lacks a lot of functionalities. It doesn't even have offline Support.

can you make your electron builds offline support? todoist is fully offline supported on every browser.
thanks.

[2018-05-07 17:27] KryDos commented on #3
hey @saikatm

I was able to build win app with electron-builder and wine. Don't you mind to check if it actually works on windows since I don't have it.

If it works I'll update readme file and add it to releases.

[You can download it from here](https://www.dropbox.com/s/yyozom3x5agda9u/Todoist%201.4.0.exe?dl=0) - it's my dropbox.

[2018-05-08 09:03] saikatm commented on #3
@KryDos Thank you so much I installed and tested it works fine and it is supporting offline mode omg!! Better than the official todoist web wrapper.

But there is some issue:

- after installing the app it does not create any shortcut in Desktop or In the Windows start menu, So I can't launch it after I quit the app. Also, I don't in which folder it gets installed so I can make a shortcut to the d

[2018-05-08 09:06] KryDos commented on #3
brilliant, thank you for the testing!

The app has no installator and it is basically portable version. The place where you have downloaded it, is install folder of the program. You can move it to any other folder but in this case any shortcut created (e.g. task bar icon) should be updated as well (removed and added again).

I'm not sure if I can build the app that can be installed and that will c

[2018-05-08 09:34] saikatm commented on #3
Thank You. Even though it is a portable version I have checked disconnecting & rebooting my pc the offline mode works! really loved it.

And I have created a shortcut of the .exe file and pinned in the start menu and it is working well I can lunch it from there.

Some feature request: a reload option in the tray menu and Global shortcut key combination showing and hiding the app would be nice.
hop

[2018-05-08 09:36] KryDos commented on #3
Cool, glad you like it.

I'll close this issue then and create new for global shortcut to "show/hide" the app and for reload.

You want just page reload shortcut? what is the reason and use case of it?

[2018-05-08 09:36] #3 closed

[2018-05-08 09:36] KryDos opened #6 "global shortcut to hide/show the app"
ref - https://github.com/KryDos/todoist-linux/issues/3

It would be great to have global short cut to show or hide the app from/to tray

see the screenshot attached here - https://github.com/KryDos/todoist-linux/issues/3#issuecomment-387346101 to use same keybinding as official client

[2018-05-08 09:41] saikatm commented on #3
sometimes the web app gets stuck or glitches so reloading the web app would fix it instantly.
and a global show-hide will be handy for quickly checking todoist and hiding it.

Official todoist has these option and it is really useful.
![image](https://user-images.githubusercontent.com/9909763/39750133-15839504-52d2-11e8-8dca-690cb27ac1cf.png)

[2018-05-08 09:43] KryDos commented on #3
awesome! thanks a lot for the screenshot so I can keep the same keybinding.

I'll let you know when some progress will be made. I guess I'll update readme file with link to exe as well.

Thanks again!

[2018-05-08 09:46] saikatm commented on #3
Sure mate!! you are doing a great job.
Also, add the windows build links to release page.
I am here if you need some testing 👍

[2018-05-08 09:48] KryDos opened #7 "add ability to refresh the content of the app"
sometimes it works not so good but refreshing fix everything. It would be great to have shortcut to refresh the content...

maybe it should be usual shortcut as it is in browser like "CTRL+R" or "CMD+R"

Ref - https://github.com/KryDos/todoist-linux/issues/3

[2018-05-08 14:50] saikatm opened #8 "external web links open in a new window instead of browser"
when clicking any link inside of the app the link opens in a new windows of the web wrapper instead of the default browser! here is a screenshot:
![image](https://user-images.githubusercontent.com/9909763/39764421-352c276a-52fd-11e8-8a33-11c6c6195a30.png)

[2018-05-08 16:54] KryDos commented on #6
hey @saikatm
I've just added shortcut for hide and show the app window (`CTRL+ALT+T`).

It looks useful for me too, so thanks a lot for the idea.

The project's readme file was updated with link to exe file and also you can find EXE on releases page [here](https://github.com/KryDos/todoist-linux/releases)

[2018-05-08 16:54] #6 closed

[2018-05-08 16:56] saikatm commented on #6
Thank you so much!! Keep up the good work. 👍

[2018-05-08 17:20] KryDos commented on #8
brilliant catch!

It should be fixed in 1.6 version.

Sorry about such quick version bump, wasn't sure I will be able to fix it so quickly.

[2018-05-08 17:20] #8 closed

[2018-05-08 17:46] saikatm commented on #8
Haha, you are on fire! Thanks for the fixes and sweet updates.

[2018-05-16 07:05] saikatm commented on #7
hey any updates?

[2018-05-16 08:12] saikatm opened #9 "[Bug] window pop ups are not opening inside of the app"
The popups under todoist settings are not opening. please check. I am including a video.

![2018-05-16_13-38-41](https://user-images.githubusercontent.com/9909763/40104796-dffd5c6a-590e-11e8-9cfb-02b45fea99f4.gif)

[2018-05-16 08:17] KryDos commented on #9
Interesting. Thanks a lot for the video. I guess the reason is the app included in iframe. As far as I know most of the google's services are forbit to include them in iframe.

I'll check. Thanks a lot

[2018-05-16 08:18] KryDos commented on #7
Nop :( it should be pretty easy to do but I'm still can't get to it. I suppose you can expect it somewhere at the weekend (end of this week).

[2018-05-16 08:42] saikatm commented on #7
@KryDos thanks a lot. keep it up.

[2018-05-19 15:52] KryDos commented on #9
Hey @saikatm it should be fixed now. You can get it with new 1.7 version here - https://github.com/KryDos/todoist-linux/releases/tag/1.7

The issue happened since app is opening all links in external browser. But some of them obviously should be opened in the app itself.

[2018-05-19 15:52] #9 closed

[2018-05-19 15:53] KryDos commented on #7
Hey @saikatm thanks for the idea. The new 1.7 version has this shortcut added - https://github.com/KryDos/todoist-linux/releases/tag/1.7

You need to press `CTRL+ALT+r` when window is focused and the page should be refreshed.

[2018-05-19 15:53] #7 closed

[2018-05-19 15:54] KryDos commented on #5
hey @AlexeyKot
The app was opening all links in an external browser but some of the links should be opened in the app itself. Because of this reason the whole integrations page wasn't working too.

The fix is in 1.7 version - https://github.com/KryDos/todoist-linux/releases/tag/1.7

[2018-05-19 15:54] #5 closed

[2018-05-19 23:05] saikatm commented on #9
@KryDos oh my god! thank you so much! you are awesome. 👍

[2018-05-22 09:25] TamasBarta opened #10 "How to build"
Hi,
can you please provide instructions for building it ourselves? I'm not familiar with this node thingy, but want to try this on Arch (so DEB and RPM is not ideal). Thanks!

[2018-05-22 10:11] KryDos commented on #10
hey @TamasBarta, sure, I'll write instructions in README.md to help contributors. I hope it will be useful for you as well.

Thanks a lot for your interest! Arch's  PKGBUILD will be super useful .

[2018-05-29 18:19] #10 closed, assigned to nobody

[2018-06-10 00:52] c-shankar opened #11 "Unable to get past login"
OS: Xubuntu 18.04 x64
Immediately after logging in, I'm stuck at this message. It doesn't redirect either. On clicking the link, it only opens the page in a web browser.
![image](https://user-images.githubusercontent.com/3977387/41197314-9bb29432-6c76-11e8-9e23-70414e2357cc.png)

[2018-06-10 20:07] KryDos commented on #11
hey @c-shankar
thanks a lot for letting me know, I thought it fixed but it's definitely not.
I'll let you know when it fixed.

P.S.
The app should work and you will be logged in if you'll close and open it.

[2018-06-11 11:57] KryDos commented on #11
hi @c-shankar the issue should be fixed in [latest release (1.8)](https://github.com/KryDos/todoist-linux/releases/tag/1.8)

Basically I'm just checking if you pressed that link then the app window will be reloaded. Should work fine.

Let me know if you still has the issue.

[2018-06-11 16:57] c-shankar opened #12 "Unable to logout of the application"
As per your suggestion I installed the [latest release](https://github.com/KryDos/todoist-linux/releases/tag/1.8). I can log in to the account successfully but when I log out, it logs out at the time. But when I quit and reopen the app, the previous account is still logged in.

OS: Xubuntu 18.04 x64

[2018-06-11 17:00] c-shankar opened #13 "[Feature Request] Ability to set the zoom factor"
I have a 1920x1080 monitor, and the text appear too small in the app. The global scaling is set to 130% but somehow this electron based app ignores the global scaling. The title bar and the tray menus show in correct size, but the actual todoist website itself is too small. Is there a way I could set and retain the zoom factor, using ctrl keys?

OS: Xubuntu 18.04 x64

[2018-06-11 17:02] KryDos commented on #12
oh :( I'll take a look. Thanks

[2018-06-11 17:02] KryDos commented on #13
Hm... I'll try to find why it doesn't scale. Thanks.

[2018-07-09 21:07] roock commented on #4
I'm having issues with the global shortcuts. Ctrl+Alt+t works, the others don't work (not even inside the application). Any suggestions/hints?

[2018-07-10 07:11] KryDos commented on #4
hey @roock,
I saw similar issue on Gnome 3. It was because shortcut handler of gnome has much more priority than the app's one.

I'm not sure if you're on Gnome though but it's pretty possible that other desktop envs behaves the same. Could you please check your global shortcuts of the system and make sure there are no conflicts between  system and app shortcuts.

And could you please share your d

[2018-07-10 09:45] roock commented on #4
@KryDos Thank you for the tip. The shortcuts were indeed already assigned in my desktop environment (KDE on Ubunut 18.04). All shortcuts now work for me.
btw: did you think about making the shortcuts configurable?

[2018-07-10 10:09] KryDos opened #14 "make shortcuts configurable"
I'm currently think about `~/.todoist.linux.json` file that will store all different configuration including shortcuts.

So users will be able to edit this file freely.

[2018-07-10 10:11] KryDos commented on #14
cc: @roock

[2018-07-10 10:11] KryDos commented on #4
@roock yeah, this is definitely something I was thinking about and want to implement.
I don't think it will be separated page with GUI interface where you can change it. But it will be a file you can edit to change the shortcuts (and other settings).

I've just CC'd you in the issue I've just created. I'll let you know there when it's done.

[2018-07-10 10:28] roock commented on #14
Did you have a look at https://github.com/kamhix/todoist-linux lately? He did release a new version in late April which supports configurable global shortcuts - although his application has an annoying bug and global shortcuts are not working perfectly, so I'm currently using your app :smile:

[2018-07-10 10:34] KryDos commented on #14
yeah, I've used his app initially but I've got some issues on my Ubuntu that didn't allow me to use it (there was some issues with tray if I'm not mistaken). I thought Kamhix isn't supporting the app anymore but I see there are new commits which is great.

I don't know if I can borrow his code related to shortcuts because I don't want to do this without his permission and because my app is using e

[2018-07-13 19:10] KryDos commented on #1
I'm going to close this one.  @Jont828 please let me know if you still has the issue.

[2018-07-13 19:10] #1 closed

[2018-07-26 16:16] roock commented on #14
Thx. works perfectly for me :) :+1:

[2018-07-29 21:29] 12people opened #15 "Can't log in with Google account"
When choosing to log in with Google rather than a standard account, this dialog appears in my browser:

![google-login](https://user-images.githubusercontent.com/7361228/43370863-1793aeba-9387-11e8-877f-a0dc2cafdd0d.png)

I'm able to log in with Todoist username and password no problem. It's not a breaking bug, just a matter of comfort. (I had to look up my login credentials, because I didn't reme

[2018-07-30 10:55] KryDos commented on #15
@12people brilliant catch! Thanks a lot.

I'll let you know when it's fixed.

[2018-08-04 15:45] saikatm opened #16 "[Feature Request] Full screen Mode"
If you use todoist on browser like Google Chrome if you go fullscreen(F11) then the todoist web app looks really nice and minimal. I think it is not hard to get fullscreen mode with the electron? 😊 please bring a total fullscreen mode! thanks.

![image](https://user-images.githubusercontent.com/9909763/43678134-33124a2c-982b-11e8-86dd-a648a31c55e1.png)

[2018-08-06 09:16] KryDos commented on #16
@saikatm thanks for this request! I'll try to make it asap

[2018-08-15 06:51] Omar-Elrefaei opened #17 "Obey XDG standard for .todoist-linux.json file"
Please use the `$XDG_CONFIG_HOME` environment variable or `$HOME/.config` as a fallback for the `.todoist-linux.json` in order to avoid cluttering the users home dir, and that will greatly help when I am trying to manage my configuration across different machines/distros.

You can more context about the standard at the [XDG Base Directory Specification](https://standards.freedesktop.org/basedir-sp

[2018-08-16 17:40] KryDos commented on #17
wow! I didn't know about that variable. I'll try to change it asap. Thanks a lot!

[2018-08-16 20:56] KryDos commented on #17
Hey @Omar-Elrefaei
I've just updated the code to respect the `$XDG_CONFIG_HOME` variable. In case the variable isn't set then `$HOME/.config` will be used (as it is stated in Spec).

[The released version is here](https://github.com/KryDos/todoist-linux/releases/tag/1.10)

Let me know if still have any issues with it.

[2018-08-17 04:44] Omar-Elrefaei commented on #17
Thanks that's awesome

On Fri, Aug 17, 2018, 2:56 AM Ruslan Bekenev <notifications@github.com>
wrote:

[2018-08-26 04:38] Omar-Elrefaei opened #18 "Keyboard shortcuts"
I don't know much about electron, but I was wondering if it is a chrome wrapper can you somehow bundle extensions with the app. This is extension had proven really useful to me, [Todoist-Shortcuts](https://github.com/mgsloan/todoist-shortcuts), it provides keyboard shortcuts for efficiently manipulating tasks and navigating inside todoist. I would be really happy if I could use it from the app

[2018-08-27 08:32] KryDos commented on #18
@Omar-Elrefaei my suggestion for you is to use Chrome with `app mode`.

You need to run it like that:
`path\to\chrome\chrome --app=https://todoist.com/app`.
Then the new instance of chrome will serve only todoist app.
I believe every extension installed in your chrome should be working.

[2018-08-27 23:59] Omar-Elrefaei commented on #18
Yeah it does. You if you are interested you could look into providing your
own shortcuts. Thanks anyway

On Mon, Aug 27, 2018, 2:32 PM Ruslan Bekenev <notifications@github.com>
wrote:

[2018-10-21 15:06] #17 closed

[2018-10-31 19:31] NinjaTurtle007 opened #19 "Opens todoist in the current browser not in the dedicated window!"
It opens a dedicated window but after logging in it gives:
You have been logged in. Click here if you are not auto redirected.

It doesn't auto redirect and when you click the link it opens todoist in the currently running browser (firefox)

so it can't  be used in the dedicated window for some reason

[2018-10-31 19:51] NinjaTurtle007 opened #20 "Still opens a window with ctrl+alt+t even after uninstalling."
I uninstalled the deb but even after that it still opens the todoist window when ctrl+alt+t is pressed
what kind of sorcery is this? :)

[2018-11-01 06:47] KryDos commented on #19
Brilliant! thanks for the report. I saw this issue previously too.
You are actually logged in and when you will close the app and open it again you will be logged in correctly.

I'll try to fix this issue and let you know when it's done.

[2018-11-01 06:50] KryDos commented on #20
Hi @NinjaTurtle007,
Uninstalling the deb package isn't closing the app. The app is definitely still running.
You can find it with `ps -A | grep -i todoist` and then kill it by PID.

The app actually has to be in your tray where you can close it. If it's not there then it's another bug.

[2018-11-01 07:33] NinjaTurtle007 commented on #20
yup, that worked, thank you!

[2018-11-01 07:33] #20 closed

[2018-11-01 07:34] NinjaTurtle007 commented on #19
I tried reopening the app multiple times but it always showed the same window with the message about being redirected only.

[2018-11-01 07:35] KryDos commented on #19
Then it means the app wasn't closed. It just was hidden to the tray and then was appeared again. It has to be completely restarted.

[2018-11-01 07:38] NinjaTurtle007 commented on #19
ok so the minimize to tray in gnome 3.30.1 doesn't work either

[2018-11-01 08:39] KryDos commented on #19
Awesome! thanks for the report I'll create the separated issue.

[2018-11-01 08:40] KryDos opened #21 "The app is not showing up in Tray on Gnome 3"
reported here - https://github.com/KryDos/todoist-linux/issues/19#issuecomment-434958405

[2019-01-15 11:15] mikkovedru opened #22 "Adding task: projects are not showing Emoji"
My projects are using Emojis to improve visibility. Emojis work properly in the Project view:
![image](https://user-images.githubusercontent.com/2521942/51177054-48c5ec80-18c7-11e9-9ade-f3e02bb3691b.png)

But when I try to add a task to a project (by writing shortcut "#"), the displayed projects are no longer showing Emojis:
![image](https://user-images.githubusercontent.com/2521942/51177034-351a8

[2019-01-15 11:26] mikkovedru opened #23 "Suggestion: default global shortcut to hide/show the app should be changed"
Currently the default shortcut is Ctrl+Alt+T.

But it seems to me that in quite many Linux versions that shortcut is already in use - it opens a Terminal window.

I suggest that the Todoist-Linux's default shortcut be changed to something else - for example Ctrl+Alt+Q.

[2019-01-15 12:18] KryDos commented on #22
hi @mikkovedru,
thanks for the report!

Are these Emojis working inside web version of Todoist?

The app is just wrapper for their web version and in case something isn't working there it should be pretty hard to fix on our side.

[2019-01-15 12:20] KryDos commented on #23
@mikkovedru thanks for this suggestion. It definitely make sense to change the defaults, since as far as I remember in current Gnome3 Ctrl+Alt+T is, as you mentioned, terminal app.

As a quick solution you can change Ctrl+Alt+T to something else in your `$XDG_CONFIG_HOME/.todoist-linux.json`.

[2019-01-15 14:32] KryDos commented on #22
ok, I'll try to check this issue. I see that Programming project has emoji displaying but other projects won't display an emoji. Pretty interesting.

I'll take a look.

[2019-01-15 14:34] mikkovedru commented on #23
Thank you for the suggestion. I already did that, even before writing this Issue.

But it's better to have the most sensible default settings so people wouldn't need to do extra work. :-)

[2019-01-15 14:37] mikkovedru commented on #22
That's interesting indeed! Didn't notice that myself. :-)

To help, here is a list of some of the emojis I use:
- :couple: Sharing-caring Tasks
- :man: Personal
- :memo: Errand
- :mortar_board: Study
- :family: Family & Friends
- :muscle: Sports/Health
- :trophy: Rewards
- :computer: Work/Business
- :microphone: Standup
- :dart: Goals
- :keyboard: Programming

[2019-01-16 20:26] drmercer commented on #11
I just installed this today and I'm having the same error:
![Login redirect page](https://i.imgur.com/xkVMBpm.png)

Like described above, clicking the link just opens it in Firefox (my default browser).

[2019-01-16 20:30] drmercer commented on #21
Tray app icons don't show in Gnome 3 by default. [This Gnome extension](https://extensions.gnome.org/extension/615/appindicator-support/) fixed the problem for me. See also [this question on Ask Ubuntu](https://askubuntu.com/questions/651367/how-to-get-indicators-back-in-top-panel-on-gnome-3).

[2019-01-16 20:34] drmercer commented on #11
Doing a `pkill todoist` and then Tray Icon > Quit and then restarting worked for me. (I believe I tried Tray Icon > Quit and then restarting before, and it didn't work.)

[2019-01-16 20:36] KryDos commented on #21
Wow, thanks a lot @drmercer, I didn't know about that.

[2019-01-16 20:36] #21 closed

[2019-01-17 21:21] drmercer commented on #19
@NinjaTurtle007 Tray icons don't show by default in modern Gnome - see my comment on #21 for solutions. :slightly_smiling_face:

[2019-01-17 21:31] #23 closed

[2019-01-18 15:12] KryDos commented on #22
hi @mikkovedru
I was trying to reproduce it but no luck.

Is there any way you can restart the app (I know you did it but...) in the next way:

* close it
* make sure it is not running in the background (`ps -A | grep -i todoist`)
* kill it if it's running
* run it again

[2019-01-19 11:18] mikkovedru commented on #22
@KryDos
I found the problem and I was able to fix it! Here are the details in case anyone will encounter a similar problem.

Operation System: Linux Mint 19.1 Cinnamon.

In Firefox everything works fine. But the problem is that todoist-linux app is build upon Chrome's browser engine. I ran Chromium and it had exactly the same problem as todoist-linux app. The problem had to do with fonts.

I fixed

[2019-01-19 11:20] #22 closed

[2019-01-19 13:43] mikkovedru opened #25 "Suggestion: remember window position/size/monitor/workspace after restart"
I have a two-monitor set-up and todoist-linux always opens (when started initially) on the wrong one. This is irritating.

I also have a very specific place where I want the todoist-linux window to be (right side of my left monitor; taking full height and about 30% of the width). Every time I open todoist-linux for the first time, I have to spend time relocating the window.

My suggestion is for t

[2019-01-19 14:09] mikkovedru commented on #25
@KryDos
Linux Mint 19.1 Cinnamon.

I am sure that this must be the app side thing, because:
1. I haven't seen any settings, where this kind of thing could be turned on
2. Some apps remember their position (like Telegram Desktop), while others don't.

I would compare it to "start the app as minimized" situation: some apps can do it, some can't.

I don't know how to do it though. :-(

[2019-01-19 14:11] mikkovedru commented on #25
Quick googling gave these links:
https://github.com/mawie81/electron-window-state
https://github.com/electron/electron/issues/526

So it is possible! Hurray!

[2019-01-19 14:13] KryDos commented on #25
nice! Thanks! I'll try to play with ideas suggested there

[2019-01-19 14:18] mikkovedru commented on #25
This is a nice post, which describes all the steps you need to do (there are also other tips that you might find useful and might want to implement):
https://blog.avocode.com/4-must-know-tips-for-building-cross-platform-electron-apps-f3ae9c2bffff

[2019-01-20 19:13] KryDos commented on #25
hi @mikkovedru
Please check out version 1.12 [HERE](https://github.com/KryDos/todoist-linux/releases/tag/1.12)

I've used the library you found [electron-window-state](https://github.com/mawie81/electron-window-state).
It seems the app now can remember window position and its size.
Unfortunately I can't check if it works for two or more monitors but for one monitor it works pretty well.

Let me kn

[2019-01-20 19:50] mikkovedru commented on #25
The whole program doesn't even start.

Uncaught Exception:
Error: Cannot find module 'electron-window-state'
    at Module._resolveFilename (module.js:485:15)
    at Function.Module._resolveFilename (/opt/Todoist/resources/electron.asar/common/reset-search-paths.js:35:12)
    at Function.Module._load (module.js:437:25)
    at Module.require (module.js:513:17)
    at require (internal/module.js:11:

[2019-01-20 19:52] KryDos commented on #25
oh lol. I've just checked it on different laptop and got the same error too...

[2019-01-20 19:55] mikkovedru opened #26 "Suggestion: a hotkey to exit the program completely"
There might be situations when I would like to close the program (like me playing a resource-heavy game, installing a new version of the todoist-linux, having too little memory and needing just the one that Todoist-linux's Electron utilizes).

Would be nice to have an option to exit the program completely using the internal hotkey/button. Currently the only way is to kill it via System Monitor. Th

[2019-01-20 19:59] mikkovedru commented on #25
Good. So I don't need to spend time investigating why doesn't it work on my computer. :-)

Maybe you should release such untested version as betas, not as full-fledged releases? It would be a pity if a new person would try to set-up his Linux system, be unfortunate enough to download the broken version 1.12 and decide that it's his fault (or that this app is broken and is not worth his time).

[2019-01-20 20:05] KryDos commented on #25
Sure that's would be good to have better way of releases and have beta and stable ones.
But at the same time this project has very small amount of users and especially developers which work on it. I just don't feel it's time to setup something like this. Maybe one day though.

[2019-01-20 20:33] KryDos commented on #25
I've just updated binaries attached to the release. You can try to re-download the version you use. Sorry about that

[2019-01-21 09:12] mikkovedru commented on #25
The new version works very well! Thank you!

This issue can be closed as far as I am concerned.

[2019-01-21 10:41] mikkovedru commented on #26
Please don't do it. This is the only reason I use this app.

When it comes to tray functionality, I remembered it only after you wrote about it. I use collapsible tray and completely forgot that. But now I can confirm that exiting through the tray icon works fine - it closes the whole program as it should.

So that closes the issue of having a clean way to close the program.

But that still leaves

[2019-01-21 10:46] mikkovedru opened #28 "Suggestion: Tray: The app should be showed/hidden with one mouse click"
Linux Mint 19.1 Cinnamon.

Currently in order to open the app using tray icon, I need to click on the icon with my right mouse button and choose "Show". Left click does nothing. Double click does nothing either.

It would be nice to be able to show and hide the app by one left click of the mouse (like Telegram Desktop app does).

[2019-01-21 10:51] mikkovedru opened #29 "Suggestion: App's tray icon text should change depending on status of icon (ability to hide the app from tray)"
Linux Mint 19.1 Cinnamon.

Currently right clicking the tray icon gives two options: "Show" and "Exit".

"Show" makes sense when the app is minimized. But when the app is visible, it makes no sense having that option. In that case, the logical thing to have is the "Hide" option, which would hide the app.

[2019-01-21 11:50] #25 closed

[2019-01-28 21:09] jamzi commented on #15
Happens to me too, @KryDos do you have any ideas on this?

[2019-02-09 07:13] TejasAvinashShetty opened #30 "Invalid or Missing CSRF token"
Whenever I try to login to todoist desktop it opens a page in my browser (here firefox). The page just displays a dialog box with the error "Invalid or Missing CSRF token"

[2019-02-09 07:43] KryDos commented on #30
hi @TejasAvinashShetty, thanks for letting me know.

Are you trying to log in with login/pass or through google?

[2019-02-09 09:36] TejasAvinashShetty commented on #30
Yes.
Sorry, I  think a similar issue has been posted earlier.
[https://github.com/KryDos/todoist-linux/issues/15#issue-345564267](url)
I really should have searched better for similar issues before opening a new issue.

[2019-02-09 20:09] KryDos commented on #30
Don't worry. I'm closing this one and I hope that https://github.com/KryDos/todoist-linux/issues/15 will be fixed soon

[2019-02-10 05:36] TejasAvinashShetty commented on #30
Great

Regards,

Tejas Shetty
B Tech.Pharma
Department of Pharmaceutical Science and Technology
Institute of Chemical Technology, Matunga,
Maharashtra, India.
Contact No.: +91 9987015305,9004350057,8450978380,022 25582905
Email ID: tejasshetty.1808@gmail.com

*Sent with Shift
<https://tryshift.com/?utm_source=SentWithShift&utm_campaign=Sent%20with%20Shift%20Signature&utm_medium=Email%20Signature&u

[2019-02-11 14:32] jamzi commented on #15
Hey @KryDos. Spend some time today looking at this. I have a few questions:
- What should the correct oauth login flow look like, should you be redirected to your browser (outside electron context and back), but this produces csrf token errors.
- The second solution would be to do it via electron windows?

Yes, once you restart is all good, but the initial experience is not the best because it eit

[2019-02-11 14:42] KryDos commented on #15
hi @jamzi
yeah, probably the second option is how I'm currently trying to implement it (without using a user's browser).
Currently, I have a situation when oauth is working and user is logged in with no errors BUT the app closes (to tray) right after succesfull response from oAuth provider. It happens because I use the same Electron window for oAuth and when everything is ok then the window is clo

[2019-02-13 17:12] JakubTetek opened #31 "Missing file"
For the DEB package, this shows: "404 That file isn’t here anymore".

[2019-02-13 19:56] KryDos commented on #31
hi @JakubTetek,
thanks for the report. Could you please let me know where exactly this one is happening? Immediately when you open the app?

[2019-02-13 19:57] KryDos commented on #31
Ah, got it. The link to DEB package.

[2019-02-13 19:58] KryDos commented on #31
I'll fix the readme file. Meanwhile you can get the deb package on releases page - https://github.com/KryDos/todoist-linux/releases

[2019-02-13 20:18] KryDos commented on #31
thanks again @JakubTetek, I've changed the readme file.

[2019-02-13 20:18] #31 closed

[2019-02-16 17:53] #30 closed

[2019-02-16 18:01] KryDos commented on #15
hi guys,
this issue has to be fixed in the latest [release 1.13](https://github.com/KryDos/todoist-linux/releases/tag/1.13)

@jamzi if you're interesting, the app detects if google's oauth link is going to be opened and creates a window with "on close" event attached. When oAuth-window is closed the main window is refreshing. There are some edge cases like if user close the oAuth window without lo

[2019-02-16 18:01] #15 closed

[2019-02-19 06:32] cyfrost opened #32 "What license is this project under?"
Hi,

Could you tell us what license your project is under? because I've not seen any mention in the repository itself. I run a fork of your project [here ](https://github.com/cyfrost/todoist-linux) and would like to know what licensing terms apply. If you specify no license at all, that means that I cannot modify your code ([except fork it on GitHub](https://opensource.stackexchange.com/questions/

[2019-02-19 06:47] KryDos commented on #32
hey @cyfrost ,
that's super hard question for me...

I don't really know what license I can choose since the app is a wrapper for the proprietary software (Todoist). Will my license (let's say MIT) conflict with Todoist? I don't know... I'll try to research this issue a bit and let you know.

As for your fork, it looks great. I saw it already and I really like everything you did there.
You don't n

[2019-02-19 08:28] cyfrost commented on #32
Alright, Thanks!

[2019-02-19 08:28] #32 closed

[2019-02-20 14:50] mickmattes commented on #13
I also have this same problem. The text is much too small. I just wanted to ask if there is any progress on this?
Greets

[2019-02-20 14:52] KryDos commented on #13
hi @mickmattes
I didn't look into this issue for long time. I'll try to look at it in few days. I'll let you know about the progress on it

[2019-02-20 14:55] mickmattes commented on #13
Wow, that's a fast reply! Thank you KryDos. Really good job you do here...

[2019-02-22 09:45] srntqn commented on #13
@mickmattes as a temporary workaround you can change [force-device-scale-factor](https://github.com/KryDos/todoist-linux/blob/master/src/main.js#L141) value in the source code.

For example, 200% zoom:

`app.commandLine.appendSwitch('force-device-scale-factor', 2);`

After that build the app from source. For Ubuntu (or Debian) execute from project root:

`./node_modules/.bin/electron-builder --lin

[2019-02-22 12:01] mickmattes commented on #13
@srntqn Great! This did the trick. With a factor of 2 it looks way too big though. But 1.5 looks great. Thanks for the hint. Maybe this should be part of the Readme, so everybody can set it to their own needs.

Thanks again!

[2019-02-24 19:27] KryDos commented on #16
hi @saikatm,
I'm sorry for such a delay on this feature.

[In the latest version](https://github.com/KryDos/todoist-linux/releases/tag/1.14) you can toggle Full Screen mode with `F11` (or using menu in Tray icon).

[2019-02-24 19:27] #16 closed

[2019-02-24 19:27] KryDos commented on #13
hi guys,
that line to force device scale factor with value 1 was forcing the scale factor to 1 as you already found.
Today I removed it completely and it seems like the app now respects the monitor scale factor.

If you still need that option you can run the app with `--high-dpi-support=1 --force-device-scale-factor=1` options (replace `--force-device-scale-factor` value with the one you need).

T

[2019-02-24 19:27] #13 closed

[2019-02-24 19:27] KryDos commented on #26
hi @mikkovedru,
there is new shortcut added to quit the app completely without hiding it into Tray.
The shortcut is `Alt-F4`.
I wanted to use `Ctrl+Alt+q` but it's already bind.

You can find that change in [the latest build](https://github.com/KryDos/todoist-linux/releases/tag/1.14)

[2019-02-24 19:27] #26 closed

[2019-02-25 12:29] cyfrost commented on #12
This issue is not observed (tested on Ubuntu 18.04) in [release 1.14](https://github.com/KryDos/todoist-linux/releases/tag/1.14). Looks safe to close this issue since its fixed @KryDos  :+1:

[2019-02-25 13:37] KryDos commented on #12
hi @cyfrost,
thanks a lot for checking that.
Strangely, the bug is still exist for me (on Fedora).

Logout button works as expected but if I restart the app (not hide/show but real quit through menu or shortcut) then I'm getting back to my account.

It seems like Todoist stores their auth data in Local Storage. I guess I could get instance of storage and just remove everything from there. Not sure

[2019-02-25 13:38] cyfrost commented on #12
Oh, that's unfortunate. Let me see what I can do to fix it. I run Fedora as my main OS too.

[2019-03-01 05:09] ChausseBenjamin opened #33 "NOOB QUESTION: How could I install this on Arch?"
I'd want to be able to start it with DMenu... I did make up to install it locally in the folder, how do i install it globally?

[2019-03-01 06:42] KryDos commented on #33
hey @ChausseBenjamin,
thanks for trying this project.

I believe your DMenu looks for executables in paths defined in $PATH variable.

The simplest thing to do is just make a symlink somewhere in `/usr/bin` to the local folder of the app.
Something like that:

[code]
You probably need `sudo` for this.

[2019-03-03 14:59] #33 closed

[2019-03-07 21:55] DepthDeluxe opened #34 "Add ability to build RPM only in Makefile"
It looks like `build-all` attempts to build all Linux flavors of the application both .deb and .rpm but on my RHEL 7 host, I do not have (and do not want to install the .deb).  Perhaps it would be good to split out the Makefile to have the build commands `build-win`, `build-deb`, `build-rpm` that allows for building the desired versions separately.

[2019-03-08 00:10] KryDos commented on #34
hi @DepthDeluxe
sounds like good idea. It would be great if you can send a PR.

You don't need Makefile to build RPM package though. You can copy the command from `build-all` target and extend it a bit.
Command to build RPM package only is:

`./node_modules/.bin/electron-builder --linux rpm`

[2019-03-09 20:08] sollymay commented on #11
I still experience this issue. after successfully providing credentials, I get the same screen and can't get out of it :(

![Screenshot from 2019-03-09 15-03-39](https://user-images.githubusercontent.com/6496698/54076776-2758ff80-427d-11e9-8e7f-d04e7e09e131.png)

[2019-03-10 19:05] KryDos commented on #11
hi @sollymay
thanks for the report.

The issue has to be fixed in version 1.15 which can be found [HERE](https://github.com/KryDos/todoist-linux/releases/tag/1.15)

[2019-03-10 20:18] sollymay commented on #11
Thank you @KryDos! Looks like it is solved now!

[2019-03-11 05:33] #11 closed

[2019-03-11 12:07] mickmattes commented on #13
Where should I put these command line switches? I'm starting the app with `npm start` from the src folder.

[2019-03-11 12:33] KryDos commented on #13
hi @mickmattes

You cannot add those options to `npm start` command because `npm start` just executes a string defined in `package.json`.

You have two options:

* Edit package.json (which is in `src` folder).
  * Find `scripts` -> `start` section
  * Replace `electron .` with `electron . --high-dpi-support=1 --force-device-scale-factor=2`

Another option is to use `./node_modules/.bin/electron .

[2019-03-11 22:17] mickmattes commented on #13
The issue is, that I'm using i3 window manager on a quite high resolution, because I need the screen space of my laptop. This forces applications that "auto-scale" to have small text. In most of the applications I use, I can scale them via CTRL-+ or so. If I use Todoist on this laptop, reading the tasks in Todoist is a real pita. Hopefully I could make my problem clear :-)
Thanks for you good work

[2019-03-15 15:56] sollymay opened #35 "wants to remove libraries when installed"
When you try to install todoist it will try to remove:

```libappindicator1:i386 libindicator7:i386```

and all of the apps depending on these!

Is there a way to use both libraries or to migrate to the other libraries?

[2019-03-15 16:19] KryDos commented on #35
hi @sollymay,
That's pretty strange that it tries to remove libraries and apps during the installation.

Are you on Ubuntu? Could you please share the output of your `apt`?

[2019-03-16 03:19] sollymay commented on #35
Hey @KryDos, I'm on ElementaryOS which is based on Ubuntu 18.04

This is the output of my installation:

[code]

[2019-03-16 06:31] cyfrost commented on #35
@sollymay Instead of usnig `sudo gdebi Todoist.deb`, can you try to run this: `sudo apt install ./Todoist.deb`

[2019-03-16 06:44] cyfrost commented on #12
Logout works as expected, tested on Fedora 29 workstation GNOME (Wayland) using [Todoist v1.15](https://github.com/KryDos/todoist-linux/releases/tag/1.15).

Installed todoist, logged in, logged back out, closed the app from tray, re-open todoist and was (pleasantly) greeted with this:

![image](https://user-images.githubusercontent.com/12471103/54471783-ea44be00-47e4-11e9-961f-1072bd5fe17b.png)

[2019-03-16 08:59] cyfrost commented on #28
@KryDos Regarding this issue, Electron uses `libappindicator` if found in the system, in which case it ignores the `click` event.

![image](https://user-images.githubusercontent.com/12471103/54473003-df475900-47f7-11e9-828a-6fe07b2f3628.png)

more info here: https://electronjs.org/docs/api/tray

[2019-03-16 10:37] cyfrost commented on #18
@KryDos can this issue be closed?

[2019-03-16 15:44] sollymay commented on #35
Hey @KryDos, here's the output of the ```sudo apt install```. Pretty much the uninstall keeps on happening. As it uninstalls the ```libappindicator1:i386``` and ```libindicator7:i386```, it also will uninstall any app that has a dependency on those libraries to install the new libraries on top.

[code]

[2019-03-18 18:28] KryDos commented on #18
definitely. Thanks @cyfrost

[2019-03-18 18:28] #18 closed

[2019-03-18 18:30] #29 closed

[2019-03-18 18:30] #34 closed

[2019-03-18 18:42] KryDos commented on #12
hi @cyfrost,
thanks for checking this. I got similar message as on your screenshot too. It's not ideal but it actually logs user out so we're ok I guess.

Thank again.

@c-shankar let me know if you still experience this issue with the latest app version.

[2019-03-18 18:42] #12 closed

[2019-03-18 18:50] KryDos commented on #35
hi @sollymay
not sure what's going on actually, but I was able to reproduce this issue if I use `apt`.

I actually surprised that `apt` can install local dep packages. I always use `dpkg` instead and didn't have such issues.

Could you please try to run `sudo dpkg -i ./Todoist.deb` instead of using `apt`

[2019-03-19 01:28] sollymay commented on #35
Hey @KryDos, so trying ```sudo dpkg -i ./Todoist.deb``` I get the following output:

[code]

As mentioned, in this case it will not remove ```libappindicator1:i386``` to install ```libappindicator1```. Same with ```libindicator7:i386``` to install ```libindicator7```

[2019-03-19 01:36] sollymay commented on #35
hey @KryDos, you won't believe my stupidity.

I installed another version for the other app that had conflicts with this one (I was installing the wrong i386 instead of the 64 bit version), and now, the installer was successful!

Thank you for your help and sorry for not realizing this sooner!

[2019-03-19 01:36] #35 closed

[2019-04-01 09:59] BatmansGehilfe opened #38 "Disable / Change F11 when conflicting"
How can I disable or change the full screen shortcut (F11)? It conflicts with firefox on my system.

[2019-04-01 10:15] cyfrost commented on #38
@BatmansGehilfe Did you mean to say that F11 of Todoist is registered as a global shortcut and is conflicting with Firefox? If yes, did you happen to notice that with other apps too? For instance, with Todoist open (but NOT focused), try F11'ing chrome maybe?

[2019-04-01 11:28] KryDos commented on #38
hey @BatmansGehilfe, thanks for letting us know about it.

I was just able to reproduce it. It happens because our F11 is set globally. So even if you are in Firefox or any other app, F11 will full screen the todoist instance anyway.

As a workaround you can edit your `$XDG_CONFIG_HOME/.todoist-linux.json` and line `"toggle-fullscreen": "F11"` in particular. Just change F11 to something else.

If

[2019-04-01 16:17] BatmansGehilfe commented on #38
thanks @cyfrost and @KryDos ! That was both extremely helpful and quick. @KryDos hint actually worked - there was no such line present in my file.

[2019-04-01 16:39] KryDos commented on #38
🎉 I'm glad this issue is resolved for you.

I'll keep this one opened for awhile just to make sure Globally bound F11 is changed to locally bound.

[2019-04-08 08:03] karthikiyengar commented on #38
I actually had the same issue. Would it be possible to just opt out of certain shortcuts? Removing the line from the config just results in falling back to the default. I have mapped fullscreen to some obscure key combination because I don't use it that much, but it'd be nice to not pollute global shortcuts if possible.

[2019-04-08 10:00] KryDos commented on #38
@karthikiyengar yeah, unfortunately removing the line from config file just falls back to defaults. Solution you came up with is the only possible currently. We'll make the change and new version of the app should not contain this issue.

Maybe we should just remove shortcut for full screen... I don't think it is a functionality that needs a shortcut.

I'll post here when new version is ready.

[2019-04-08 10:44] cyfrost commented on #38
Just putting my feeling about this: I think so too, I've trouble remembering the last time I F11'ed Todoist, for all practical purposes, the Maximized view is quite sufficient for me.

Maybe you can get rid of F11 shortcut and add it if someone raises a feature request for it :)

[2019-04-09 18:37] KryDos commented on #38
hey guys,
Please take a look at [Release 1.16](https://github.com/KryDos/todoist-linux/releases/tag/1.16) where this issue is fixed.

F11 isn't globally bound anymore. At the same time it does work inside the app.

I'm closing the issue. Let me know if you still see the bug.

[2019-04-09 18:37] #38 closed

[2019-04-12 18:14] AlpSha opened #40 "Alt + F4 closes the app"
I am using Ubuntu 18.04 and when i use alt+f4 even on another window, alt+f4 first kills todoist and i need to press one more to alt+f4 in order to close my current window. It doesn't matter which window is active, first alt+f4 always closes todoist from background if it is running. Like i am writing on chrome right now, and todoist is running on background. I did press alt+f4 and todoist has been

[2019-04-12 19:17] cyfrost commented on #40
Yet another "Global Shortcut ruined it" issue :P @krydos

[2019-04-13 14:04] KryDos commented on #40
Yep, one more wrongly bound global shortcut :D

Thanks for report @Anrchst93 I hope we can fix this issue pretty soon.
For workaround on your side you can take a look at my comment [HERE](https://github.com/KryDos/todoist-linux/issues/38#issuecomment-478541561). We had very similar issue but for `F11` shortcut.

[2019-04-15 08:47] Anrchst93 commented on #40
I fixed with your help, thanks a lot. Whatever shortcut i give it, it works as global. Anyway i just set it as i wish to use.

[2019-05-07 17:41] versipellis opened #42 "CSRF Token (Facebook login)"
Same as #15 and #30 I'm guessing, but this time with Facebook account.

[2019-05-08 06:05] KryDos commented on #42
hi @versipellis,
thanks for the report.
I actually missed that there is facebook login possible and didn't make anything to make it working.

I'll take a look.

[2019-05-08 10:13] mikkovedru opened #43 "Suggestion: add command string option to start minimized/in-tray"
Problem: I want to start Todoist-linux by default (from the startup applications), but that causes Todoist to be instantly visible. I don't want that and I am forced to always close/minimize the application. That's an extra hassle I would like to get rid of.

What I suggest is adding 2 command line options:
1. "-startintray". This puts Todoist automatically into tray.
2. "-minimized". This one aut

[2019-05-12 18:27] laszukdawid commented on #40
Hey, just checked out this app and seems that will be my new best friend. Thanks 👍
On this issue... why do you even have `"quit": "ALT+F4"` ([line](https://github.com/KryDos/todoist-linux/blob/master/src/shortcutConfig.js#L93))? By default, system handles this for you; it will emit 'close' event to any active window. I know you are working on this for the next release but just curious why that lin

[2019-05-12 18:32] KryDos commented on #40
hi @laszukdawid,
thanks for the kind words about the app :)

`alt-f4` in our case quit the app completely. By default the app is just hiding to tray when `close` event is received.

[2019-05-12 18:40] laszukdawid commented on #40
Oh, nice, got a thumbs down for asking a question :)

Ok, I see. Although I'm unable to reproduce hiding behaviour. After removing that line from the code, hitting `ALT+F4` on active Todoist kills it completely without a trace of the process. Anyway, my issue is solved and was just curious for the line.

Thanks again for the app!

[2019-05-12 18:48] KryDos commented on #40
LOL, excuse me about thumb down, I hope it was accidental.
That's pretty strange that in your case alt+f4 close the app and doesn't hide it to tray. Does the app shows in tray at all? (we previously had few issues related to tray on some distros).

[2019-05-12 19:01] laszukdawid commented on #40
Yep. On execution (`make up`), I see the Todoist icon in my tray panel. When I hide the app (icon click -> hide) it disappears from available windows but persists in the tray. (icon click -> show) makes the app in focus. I can switch windows and all. When the Todoist-app is in focus `ALT+F4` kills it and removes from the tray.

When running the Todoist app as detached task it spawns 5 processes (`

[2019-05-15 07:07] mburtscher opened #44 "Bring to front if window is already open"
I use `F1` to `show-todoist`. However if the app is already open in the background it won't pop up. App should be brought to front if it is already open but not in front.

[2019-05-16 07:31] #44 closed

[2019-05-16 08:10] KryDos commented on #42
hey @versipellis,
excuse me for delay.

[Here is version 1.17](https://github.com/KryDos/todoist-linux/releases/tag/1.17) where facebook login should work.

[2019-05-16 08:10] #42 closed

[2019-05-17 09:42] AlexeyKot commented on #13
Maybe there is a way to make the app, so it respects "Ctrl +" shortcut to control zoom level as some other electron apps do like Spotify, VS Code, etc?

[2019-05-18 03:49] cyfrost opened #46 "[Bug] Opening a second instance creates new window instead of re-focusing current window"
Hi,

I've found this bug while trying to accidentally open a second instance of Todoist when one instance was already open and minimized to tray.

When Todoist is minimzed to tray, clicking on the Todoist icon from the GNOME apps launcher will create a new instance instead of restoring the existing window (from tray).

#### Repro steps:
1. Quit all existing instances of Todoist
2. Open Todoist
3.

[2019-05-19 11:09] #46 closed

[2019-06-12 17:07] batjko opened #48 "Cannot exit fullscreen mode"
Related to #38, I suppose.

When I use the Toggle fullscreen menu item in the notification bar icon menu, I am unable then to exit fullscreen again.
F11 does nothing.
Hitting "toggle fullscreen" again, does nothing (Luckily I have a second screen so I can even get to that menu).

What do I need to do?

[2019-06-12 17:10] KryDos commented on #48
hey @batjko, thanks for report. Not sure if #38 is related here since you use "toggle fullscreen" from tray (as far as I got).

Could you please share your os, distro, desktop environment.

[2019-06-12 21:33] batjko commented on #48
Ah yes, apologies:    Linux, Ubuntu 18.10 64bit.

[2019-06-14 16:55] KryDos commented on #48
I was trying to reproduce it on my only currently available Linux (Ubuntu 18.04) but no luck.

Could you please share output of  `gnome-shell --version`

[2019-06-16 04:56] cyfrost commented on #48
I'm able to reproduce this bug on Fedora 30 KDE on an X session.

Right click Todoist tray icon > Click Toggle Full Screen > press F11 to get out / press ESC to get out > doesn't work.

Finally, I had to alt+tab to another app and then close Todoist that way.

I'm vouching for the removal of Toggle Full Screen option, though.

[2019-06-23 03:50] stefthoen opened #49 "Is it possible to make links open in Firefox instead of Chromium?"
I have Firefox currently set as my default browser, but Todoist opens links in Chromium. Is there a way for it to respect my default browser?

[2019-06-23 10:00] KryDos commented on #49
hi @stefthoen
it actually should respect your default browser. There is no place where Chromium is hardcoded in the app.

What distro and desktop environment you are at?

[2019-07-05 01:44] gamkiller77 commented on #43
Can we also add one for starting in full screen.  I made a Pi with the 7in screen and would be nice to have a like a kiosk mode. I got it to start at user load but i have to hit F11 would be nice if it would pop in to full screen mode.

[2019-07-05 14:43] philipp-r commented on #48
I have the same problem with Ubuntu 18.04.2 LTS and GNOME Shell 3.28.4.

Toggle fullscreen with F11 works fine in other programs just not in Todoist.

[2019-07-07 12:56] KryDos commented on #48
hey @philipp-r, thanks for the info.

I'm currently on the same Ubuntu and GHOME shell version. Still works for me...

Could you please share your `~/.config/.todoist-linux.json` with me. Also let me know please if you use Wayland or Xorg.

I just tried to do full screen with GNOME on Wayland and all my RAM was eaten up immediately...  I hope it something on my machine only...

[2019-07-09 11:21] stefthoen commented on #49
@KryDos Ubuntu 18.04.2 LTS and desktop environment is Gnome.

![image](https://user-images.githubusercontent.com/881521/60884079-50e65f80-a24c-11e9-8219-5048c93ebe8d.png)

![image](https://user-images.githubusercontent.com/881521/60884123-72dfe200-a24c-11e9-8970-38f5eaf450c4.png)

[2019-07-09 11:38] KryDos commented on #49
Brilliant! thanks @stefthoen for sharing screenshots.
I've just played with different env variable settings and default application settings but cannot reproduce it still.

Could you please share screenshot of default applications (press "win" button and type "default app"), and output of `echo $BROWSER`. Output of `xdg-settings get default-web-browser` also will be pretty helpful.

[2019-07-09 16:21] philipp-r commented on #48
I'm using Xorg. I have not tested it with Wayland.

This is my `~/.config/.todoist-linux.json`:
[code]

[2019-07-12 07:09] stefthoen commented on #49
![image](https://user-images.githubusercontent.com/881521/61109164-89707e00-a484-11e9-8a37-93974617c1ce.png)

`echo $BROWSER` doesn't do anything, but the output of the `xdg-settings` you mentioned returns `firefox.desktop`.

[2019-07-25 14:24] HadiLatifi opened #50 "Why not put the arch version in AUR for further install and update convenience?"
Hi, I was just wondering if this exists in AUR, searched for it and no luck. Are you planning to add it?

[2019-07-25 14:36] KryDos commented on #50
hey @HadiLatifi,
I actually didn't plan it. I guess it's good idea. I'll take a look what I can do.

I guess I need to make PKGBUILD or something like that...

[2019-07-26 17:38] HadiLatifi commented on #50
yes, actually it's pretty easy and straight forward, you'll need to make a PKGBUILD and then upload it to AUR.
you could use **debtap**, a script for converting .deb to arch packages. it can help you by producing the PKGBUILD file, just be careful about the dependencies. it creates a lot of unneeded ones.
about creating the PKGBUILD you can see this [link](https://wiki.archlinux.org/index.php/crea

[2019-08-06 09:23] KryDos commented on #50
hey @HadiLatifi,
unfortunately still can't find time to work on it. Feel free to make PR with PKGBUILD. I can then add it to AUR.

[2019-08-09 08:26] ariya-mms opened #51 "CTRL+ALT+A doesn't work"
I installed .deb package in Kubuntu 18.04 LTS. All the shortcuts work except the most important one: Quickly adding a task!

[2019-08-09 10:19] KryDos commented on #51
hi @ariya-mms,

I didn't test the app on KDE, but I believe the shortcut doesn't work because there is similar shortcut defined somewhere else (probably in KDE itself).

Here is what I have found - https://docs.kde.org/trunk5/en/applications/fundamentals/kbd.html (search for `Activate Window Demanding Attention`).

I can suggest two ways of solving it:

* Change KDE shortcuts (can't give you more

[2019-08-09 20:03] ariya-mms commented on #51
I changed the global KDE shortcut that had made this conflict and now it works, but after appearing the _quick add_ widget, I can't type in the field and instead my words appear in search field.

BTW, if KDE users want to use a shortcut for toggling full screen, they need to enable it in **System Settings > shortcuts > global shortcuts > KWin > Make Window Full Screen** and set its global value to

[2019-08-09 21:18] HadiLatifi commented on #50
hey @KryDos,
I've made the PR. just mind the already existing todoist clients on aur. esp for naming. also I'd suggest reviewing my PKGBUILD namings. the .SRCINFO is auto created by makepkg and is required by aur.

[2019-08-10 13:05] KryDos opened #53 "Search input is focused when `quick-add` shortcut is used"
When `quick-add` shortcut is pressed the todoist window gets focused and when you type the input is actually goes to search input (behind the popup).

It's reproducible only when todoist is in background (tray).

[2019-08-10 13:06] KryDos commented on #51
I'm happy that remapping shortcuts has helped.

Thanks for reporting that new issue with wrong input focused. I've just created the issue for this here - https://github.com/KryDos/todoist-linux/issues/53

I hope that one can be solved easily.

I'm closing this one.

[2019-08-10 13:06] #51 closed

[2019-10-07 01:46] luigigubello opened #54 "Javascript execution by a click"
In Todoist you can add website as task. So, you add a new task in the Todoist web app and paste the payload ```[TEST](javascriptjavascript::alert&#40document.cookie&#41)```. Now in todoist-linux (Electron based app) click on your task _TEST_ and an alert box with your cookies appears.

[2019-10-22 19:48] mpeshev commented on #40
Thanks for the Todoist Electron build in the first place!

I think that alt + f4 is an excessive config option (a default one) but I appreciate the opportunity to override it from the json config.

[2019-11-25 14:00] stefan2904 commented on #13
I also use i3 and have the mentioned problem. Starting it using the mentioned command (in my i3-autostart script) did the trick for me. Thanks!

`StartProg todoist --high-dpi-support=1 --force-device-scale-factor=1.5`

[2019-11-27 20:09] mikkovedru opened #56 ".deb installation file is not working in Ubuntu 19.10"
I tried to install the .deb version of the latest Todoist Linux 1.17 in the latest Ubuntu 19.10, but it failed.

While googling for the error message, I encountered this post:
https://www.medo64.com/2019/11/ubuntu-19-10-fails-to-install-deb-file/

Might the solution in the post above also solve the error with todoist-linux?

[2019-11-28 08:40] KryDos commented on #56
Interesting. I'm installing Ubuntu 19.10 on my machine right now and let's see if I can reproduce and fix this issue.

Good catch!

[2019-11-29 07:48] KryDos commented on #56
hey @mikkovedru,

I've been trying to reproduce it but no luck. It seems working on Ubuntu 19.10 which I just installed.

The issue you mentioned is probably related to broken deb file. I got this one during the testing when download of the file was cancelled (by github I guess, I didn't cancel anything).

Make sure the checksum of the file is `4a307dc2e26443dce0f593501521542d3e7a263c` (check with

[2019-11-29 08:54] mikkovedru commented on #56
@KryDos
You were right! The download was getting corrupted every time I tried to download it with this new laptop. Therefore I downloaded the file on another computer, moved it to the new one, and everything started working as intended.

Thank you for spending time investigating this issue!

[2019-11-29 08:55] KryDos commented on #56
Awesome! Closing this issue then

[2019-11-29 08:55] #56 closed

[2019-12-05 17:34] felix11h opened #57 "Options for tray icon: Monochrome or hide from tray?"
Thank you for your work on the Linux version of this app! I was wondering if it would be possible to provide an option to have a monochrome tray icon or to hide the tray icon entirely.

A first search indicates that it's not trivial to remove the icon from the user side (in my example Ubuntu 16.04) so I wonder if the app could provide this option. I'm not an expert in anything electron, but with s

[2019-12-06 10:09] KryDos commented on #57
hey @felix11h,
thanks a lot for good words!

It seems like it's not easy to remove tray functionality because there are lot of functionality around it but I'm sure that monochrome icon is doable.
Give me few days and I'll make the release with such icon and additional option in the config file to turn this icon on.

If you can make the icon that fits your color scheme/preferences that would be gre

[2019-12-07 08:30] felix11h commented on #57
Thanks for the kind reply, @KryDos. A monochrome icon would be ideal, thank you for considering this. I did a quick [mock-up](https://imgur.com/a/dto9G3d) of what the monochrome icon could look like in the tray.

I'm just realizing that this might be pretty much your suggestion, as I know that imgur doesn't display transparency. I have the icon in white with transparency [here](https://github.com/

[2019-12-08 12:14] KryDos commented on #57
hey @felix11h,

There is new version of the app available [here](https://github.com/KryDos/todoist-linux/releases/tag/1.18).
The main change is that monochrome like icon. By default the red icon is used but you can set `tray-icon` config property to `icon_monochrome.png`.

Here is my `~/.config/.todoist-linux.json` for reference:

[code]

And here is how does it look like
![Screenshot_2019-12-08_1

[2019-12-08 12:21] KryDos commented on #54
hey @luigigubello,
thanks for this catch and I'm sorry for such a late response.
On the todoist web version instead of alert I have new tab opened with `javascript:alert(document.cookie)` in URL but no alert.

I'll take a look what I can do in the app to prevent this XSS issue.

Thanks again.

[2019-12-08 15:23] Barraki opened #58 "Add minimal width for window for Linux dist"

[2019-12-08 16:29] felix11h commented on #57
This worked perfectly for me, thank you @KryDos! In Ubuntu 16.04 (Unity):

![ubuntu](https://user-images.githubusercontent.com/610633/70392418-40dfd100-19e0-11ea-9f8e-1fe43625a054.png)

[2019-12-08 16:29] #57 closed

[2019-12-09 16:58] KryDos commented on #58
hey @Barraki,
LOL, fun bug :D Thanks for this catch.

[2019-12-15 23:25] jonchampagne opened #59 "Cannot sign in with google account"
I know this is a problem from google primarily, but should probably be documented somewhere obvious, perhaps with some sort of workaround.

Anyways, when trying to sign in to todoist with a google account, I get an error message saying "this browser or app may not be secure". This makes it impossible to sign in with a google account.

![image](https://user-images.githubusercontent.com/1485633/7087

[2019-12-16 09:17] KryDos commented on #59
Wow. Google :(

Thanks for the report @jonchampagne, I'll take a look. I hope it can be fixed by changing the user agent of the app.

[2019-12-20 14:38] Donboscow commented on #59
Still I'm facing this problem. Can't log in with Google Account.

[2019-12-20 18:55] KryDos commented on #59
hey guys,
The issue should be fixed with the newer version of the app. [Check this release](https://github.com/KryDos/todoist-linux/releases) and let me know please if the issue is resolved.

I've added a user-agent header to all the requests from the app so it now pretends to be a Google Chrome browser on Windows.

[2019-12-23 08:03] dlecan commented on #48
Todoist Linux 1.19, Ubuntu 18.04, Xorg, GNOME Shell 3.28.4, same config file as @philipp-r:
- F11 doesn't work
- Impossible to exist full screen mode whent toggling

Before #38, I was able to toggle the app fullscreen with F11 (but impossible to do with Firefox)

[2019-12-26 04:15] sollymay commented on #48
Same here with Elementary OS (based on Ubuntuo 18.04 and Wayland). seems like the app when started creates two separate windows (one full screen and one non full screen). You can pretty much use F11 to go to the non full screen window but you need to close the full screen window first as it seems the full screen window overlaps the non full screen window). It also, for some reason start the non fu

[2019-12-26 04:22] sollymay commented on #48
Seems like the issue is fixed with the latest version of the app. At least I was able to switch to full screen and out using F11 no problem! try to install that new version @dlecan @batjko @philipp-r

[2019-12-26 06:47] KryDos commented on #48
LOL, I didn't try to fix it in newer version but I'm happy it seems fixed somehow.

Thanks @sollymay for testing and letting everybody know!

[2020-01-10 12:49] tobinstultiens opened #60 "Aur not updated"
The aur version has not been updated since 1.17 that means google authentication does not work. as show in issue #59 .

[2020-01-10 17:08] KryDos commented on #60
Thanks for report @tobinstultiens
It probably make sense to just make "todoist-git" kind of package so the latest code is automatically pulled all the time.
I'll let you know when it's done.

Meanwhile you can download pacman package from [latest release](https://github.com/KryDos/todoist-linux/releases) to solve that issue with login.

[2020-01-18 14:24] ilyesLtifi opened #61 "Can't adjust font size or window zoom"

[2020-01-18 14:31] KryDos commented on #61
hi @ilyesLtifi,
You can zoom in with `ctrl+shift+=` and out with `ctrl+-`. You can also go to `View` section of the menu and find `Zoom In` or `Zoom Out` items there.

Currently there is no way to remember the zoom you set before so if app is restarted then you need to adjust the zoom level again.

[2020-01-18 15:18] ilyesLtifi commented on #61
Hello @KryDos

None of those shortcuts work.
Also where is this "View" section?

Is it possible that I'm using an older version or something? I downloaded the latest version today, yet there is no mention of "View" or "Zoom" in the settings. Also I don't have those shortcuts listed in the "Keyboard shortcuts" menu.

[2020-01-18 15:19] KryDos commented on #61
interesting. @ilyesLtifi could you please send me your specs (Linux distro, Desktop environment and its version). Screenshot of the window would be good to see as well.

[2020-01-18 15:25] ilyesLtifi commented on #61
Im am on KDE Neon.

I used _dpkg -i_ to install the .deb installation file.

![distro](https://user-images.githubusercontent.com/38229094/72666082-10dc1280-3a0f-11ea-9370-a45c2be879f4.png)

[2020-01-18 15:27] KryDos commented on #61
I actually didn't use the app with KDE before. Could you please attach the screenshot of the Todoist app window too. I will install KDE a bit later on my test machine and let you know the result.

Thanks for letting me know about the issue!

[2020-01-18 15:35] ilyesLtifi commented on #61
Happy to help :)

Here is a screenshot of the window bar and the top menu.
![todoist](https://user-images.githubusercontent.com/38229094/72666211-5a792d00-3a10-11ea-80dd-6af22de90199.png)

I understand what you meant now with "menu"; the standard menu bar in every application. As you can see it wasn't there from the start.

Also, there seems to be an issue with the sync. I got that error icon at t

[2020-02-10 09:43] tobinstultiens commented on #60
It has been updated

[2020-02-10 09:43] #60 closed

[2020-02-18 19:16] richard378 opened #63 "Persistant error it keeps trying to install thowing dpkg errors Ubuntu 18.04LTS"
ln: failed to create symbolic link '/usr/local/bin/todoist': No such file or directory
dpkg: error processing package todoist (--install):
 installed todoist package post-installation script subprocess returned error exit status 1

I get the above error that persists with dpkg every time I use apt or dpkg on Ubuntu 18.04 LTS.  It is installed and in my applications and works except for this persis

[2020-02-19 09:12] tobinstultiens opened #64 "Suspending my pc causes it to stop updating"
I don't know if this is something you can solve. But this is an issue that I've encountered where after suspending my PC it will no longer update the tasks. This requires met to refresh todoist with ctrl + alt + r.

[2020-02-19 10:25] KryDos commented on #64
Wow. That's interesting. I'll try to reproduce it and fix it. I'll let you know the result.

[2020-02-19 10:28] tobinstultiens commented on #64
if you need some more info you can ask.
i'm using manjaro xfce. if this can help with tracing the bug.
Also most of the time i suspend my pc it's for around half a day.

[2020-02-29 19:59] KryDos commented on #64
hey @tobinstultiens,

I've tested this case in my Manjaro VM with XFCE.

My steps were:

* run the app
* put VM to sleep mode
* wake the VM up
* add a task
* open web version of todoist to see if that task is appeared there (it is)
* delete the task from todoist web version
* the task was automatically deleted in the running app too

Seems working. Could you please validate my steps. Also let me k

[2020-02-29 21:28] tobinstultiens commented on #64
Hey @KryDos ,

I've tested it in the same way as you and there were no issues.

I'm going to do another test tomorrow. Since my laptop will have been suspended for a while. I think this may be the cause of the bug. Although when I booted it up to test it the moment I tried to add something it updated again.

I will update you tomorrow checking if the duration of the suspension is related to the fr

[2020-03-03 12:39] tobinstultiens commented on #64
Hey @KryDos,

I think this might be related to the change of day during the suspension since those are the times it stops updating. Yet the moment when i add a task to todoist it fixes itself and syncs properly. So the simple act of adding a task can fix the syncing issue.

[2020-03-14 20:53] ShaneEverittM commented on #61
Any update on this?

[2020-03-14 20:59] KryDos commented on #61
hi @ShaneEverittM,
I wasn't able to reproduce it, so no updates...
What Desktop Environment (Gnome, KDE, Xfce, etc..) do you have on your machine? Have your tired `ctrl+shift+=` shortcut?

[2020-03-14 21:16] ShaneEverittM commented on #61
@KryDos I am also on KDE Neon, yes I tried ctrl+shitf+=

[2020-03-14 21:43] KryDos commented on #61
ah, I did not install KDE on my machine to test this issue.
I don't think I can install KDE at the moment on my machine but I can try to do it in virtual machine. I can't estimate when I'll do it but as soon as I test this issue in KDE I'll post the result here.

[2020-03-22 07:40] RHCPNG commented on #48
I have the same problem on Linux Mint 19, I can't get out of full screen. I'm going to re-install and try again

[2020-03-29 02:27] mikkovedru opened #65 "Alt+F4 closes Todoist even if the window is not active"
Alt+F4 closes Todoist even if the window is not active.

Documentation:

And it works. Globally. Meaning that pressing Alt+F4 in any window anywhere, closes todoist-linux window.

It really shouldn't. Alt+F4 is one of the most widely known and popular hotkeys. It shouldn't just be stolen from the whole system in order to use it for one program only in a very uncommon scenario of "I want to close t

[2020-03-30 09:00] KryDos commented on #65
Yeah, all our keybindings are global. The way I see it now is we need only one global keybinding (to quickly add a note) and everything else should be local (when app is opened and focused).

We have this issue for a long time already and the only workaround here is to remove keybinding from config file or re-bind it to something unusual.

I definitely should spend some time making local keybindin

[2020-03-30 09:25] mikkovedru commented on #65
"Show or Hide Todoist window" should also obviously be global.

Is it possible to remove the global Alt+F4 from the program completely? Wouldn't OS take over and make Alt+F4 still work, but only when the window is active?

[2020-03-30 09:29] KryDos commented on #65
Currently when the app is getting "quit" event from OS it just hides itself and doesn't actually quits. So Alt+F4 was redefined to force the app to quit. So this is why we have this keybinding in the app. I guess it's useful to have at least until we have some kind of configuration interface where user can choose what to do when "quit" event is received (I personally don't want this interface).

[2020-03-30 09:54] mikkovedru commented on #65
Now it makes more sense. Thank you for explaining.

[2020-03-30 12:36] WarmongeringBeaver commented on #61
Same problem for me with this setup:
Kubuntu 19.10
KDE Plasma 5.18.3
KDE Frameworks 5.67.0
Qt 5.12.4
Couldn't find any workaround to zoom in : (

[2020-03-31 09:17] 183amir opened #66 "libappindicator-sharp does not exist in Archlinux"
Trying to install the `.pacman` file in archlinux:
[code]
Even, the AUR pacakge is broken: https://aur.archlinux.org/packages/todoist-electron/ (for now) but editing that to remove `libappindicator-sharp` fixes the problem.

[2020-03-31 09:51] KryDos commented on #66
hey @183amir,
Thanks for the report. I saw a comment in AUR too.
I guess we can remove this dependency and make a new build.
I wonder why is this package doesn't exist in the Arch repo anymore...

I hope I can make a new build soon but any help is very appreciated in this.

[2020-03-31 13:18] pfluegdk commented on #48
I have the same problem on Ubuntu 18.04.4 LTS, GNOME Shell 3.28.4, Todoist Linux 1.19 from the releases website (deb installed).
Plus, if I select "Popout in a window" from the menu, the app crashes and restarts full screen. Alt+F4 successfully kills it, but that is the only way to get rid of the fullscreen.

[2020-03-31 15:50] ceiphr opened #68 "Offer option to use Todoist Beta"
Hi,
I love the project, but it would be nice if there was some setting that would allow me to switch to the beta web version of Todoist (https://beta.todoist.com) since that's what I am usually using.

[2020-04-01 06:51] KryDos commented on #68
hi @ceiphr,
sounds like a good idea.
I guess I can add that option to the configuration file.

Feel free to send pull request if you'd like.

[2020-04-01 19:36] #68 closed

[2020-04-01 19:38] #66 closed

[2020-04-01 21:44] #64 closed

[2020-04-02 08:18] ppwwyyxx commented on #61
I found that if I build the project manually with the instructions in https://github.com/KryDos/todoist-linux#build-instructions, my window has the "View" tab and can be zoomed with shortcuts mentioned above.

However when I build the project in archlinux's aur, I met the same issues mentioned above: no "View" tab and keys don't work.

[2020-04-02 08:25] KryDos commented on #61
Nice! Thanks for digging into it @ppwwyyxx. I'll try to reproduce it with steps you mentioned.

[2020-04-02 08:27] ppwwyyxx commented on #61
Seems the same issue as https://github.com/electron/electron-packager/issues/131

[2020-04-02 08:43] KryDos commented on #68
Release is published here - https://github.com/KryDos/todoist-linux/releases/tag/1.20

It also includes your icons update. Thanks again!

[2020-04-03 14:36] jester02k commented on #48
Same here Linux mint 19 starts in full screen unable to leave have to open a new browser to be able to toggle to a smaller window that I just leave open.

[2020-04-05 10:11] furkanunluturkk commented on #61
yep, same issue here...

yep, same issue here... configurations has to remain after the building though...

[2020-04-05 15:24] KryDos commented on #61
Yeah, so when I run the app I use `npm start` and in this case the menu is present and all shortcuts bind to the menu also work.
When we run the "production" build of the app there is no menu and no shortcuts related to that menu.

That make sense and explains why I couldn't reproduce this issue and the issue with Full Screen (https://github.com/KryDos/todoist-linux/issues/48)

I don't see easy-fi

[2020-04-06 00:35] ppwwyyxx commented on #61
Since what we need is the functionality rather than the menu bar, it might make sense to add shortcuts for zooming.

[2020-04-10 05:58] lokesh-krishna commented on #50
Could you please update the AUR package to the latest release?

[2020-04-10 06:10] KryDos commented on #50
hey @lokesh-krishna,
I just made a new release (1.21) and pushed that to AUR as well.

I should definitely automate it somehow because I'm always forgetting to update AUR. Thanks for reminding me.

[2020-04-10 06:10] #50 closed

[2020-04-10 06:12] KryDos commented on #58
hi @Barraki this issue is fixed by @ceiphr in latest release.
Thanks guys for the bug report and the fix ❤️

[2020-04-10 06:12] #58 closed

[2020-04-10 14:05] debevv opened #74 "Option to disable the tray icon"
It would be nice to have to possibility to completely disable the tray icon with a config file option, and making the app terminate by clicking the "x" window button.
I find this more in line with the "Alt-Tab" workflow described in the repository readme, because the user will tend to keep the window application open all the time, making the space taken by the tray icon useless.
I tried to set the

[2020-04-10 21:18] KryDos commented on #74
hi @debevv,
thanks for the good idea.

I made the change here - https://github.com/KryDos/todoist-linux/commit/38e2155d0bb2abbce3c0265b58c95b5bc401a5e3 but I'd like to collect a bit more changes to make new release.

I can make a build specifically for you though. What system you're on?

[2020-04-11 14:36] debevv commented on #74
Thanks!
I'm on Ubuntu 18.04 x86_64

[2020-04-11 14:43] KryDos commented on #74
@debevv you can take deb package from [here](https://send.firefox.com/download/977468b65fa5c706/#-6a8OXq6kmRl5zYuBdwxLw)

[2020-04-11 14:53] debevv commented on #74
The tray icon is not shown anymore, but i have two problems:
- When i close the app, the window disappears, but if i try to open it again i get the error in the picture. I noticed a Todoist process in the task manager still running, and i have to kill it to avoid the error
![1](https://user-images.githubusercontent.com/8508972/79047060-b4a31c00-7c14-11ea-9714-e691334617d4.png)

- When i minimize t

[2020-04-11 14:56] KryDos commented on #74
Ah, it's good I didn't make a release, LOL.

Sorry about that I didn't test it well enough. It's interesting that the process is not disappearing when you exit the program. I actually made the change to not keep the program running when "X" button is pressed. Interesting...
I'll take a look

[2020-04-11 15:01] debevv commented on #74
Yes, it is behaving very strangely. I wanted to add that when i minimize it, after the error I see two running processes in the task manager

[2020-04-14 08:11] hausofwong opened #75 "Current package on AUR keeps trying to upgrade to 1.21.0-3"
As per the title, the AUR package version seems to stuck on 1.21.0-2. When you upgrade to version 1.21.0-3 and run your package updater, it gets detected as 1.21.0-2 and tries to install again.

Not sure if this is the right place to post this, but it's been like this for a week now.

[2020-04-14 22:06] pfluegdk commented on #48
I just installed Version 1.21 (deb-package) - no change.
Then I stumbled over #61, thanks to @KryDos reference to that issue!, and followed the manual build instructions rather than using the deb-package.
Starting todoist with "npm run start" still starts the window fullscreen. But now F11 works and I get a window back.

[2020-04-19 13:18] #75 closed

[2020-04-27 14:08] mbbroberg opened #77 "Consider making this open source by adding a license"
Hey @KryDos, thanks so much for sharing this software with us. I'm a newer Linux user and able to get started thanks to awesome people like you sharing :smile:

I'm wondering if you'd be game to make this an officially open source project by adding a license reviewed by [the OSI](https://opensource.org/osd-annotated). Doing so is a great way to make the terms of usage clear and to provide your use

[2020-04-27 14:11] KryDos commented on #77
Good point. Thanks @mbbroberg!
 I'll take a look at what license I can use and probably you right, it's going to be MIT.

I'll let you know here when I chose a license.

[2020-04-29 03:22] joho opened #78 "Thanks!"
No issue, just wanted to drop by and say thanks for making and maintaining this package.

Only recently discovered it and it's made a big quality of life improvement on my work computer.

So thanks again.

[2020-04-29 06:18] KryDos commented on #78
Wow, the best issue ticket an open source developer can get. Thanks!

[2020-04-29 06:18] #78 closed

[2020-05-02 09:18] KryDos commented on #77
Added MIT license text to the repo. Thanks Matt!

[2020-05-02 09:18] #77 closed

[2020-05-04 12:08] netgifted opened #79 "WIll not open Ubuntu 20.04"
I removed and reinstalled 3 times. This worked fine for me on Ubuntu 19.10 but as I upgraded my system Todoist is not working anymore. The Window is blank and I have no way to refresh it. I didn't even get to login

[2020-05-04 12:11] KryDos commented on #79
Wow. I'm sorry about that.

I'll update my Ubuntu (I'm on 19.10 currently) and take a look what's going on.

Thanks for the report @netgifted

[2020-05-04 12:19] netgifted commented on #79
I’m actually running POP_OS 20.04
When I launched first time  it gave me an error message that I didn’t take note since it seamed a wrong login error. I don’t know if there is any cache that I can clean in order to get the same error message. I tried to uninstall multiple times with
sudo apt purge todoist
but it always opens as a blank window

Tony Silveira
tony@netgifted.com

lestudio.tv
lestudio

[2020-05-04 12:22] KryDos commented on #79
Ah, thanks for letting me know about POP OS. It doesn't seems like distro specific issue. Maybe some library has been updated and todoist just won't work with that lib... Not sure yet.

You can try to `rm -rf ~/.config/Todoist` where all the session/cookies/etc... is stored. I don't think this folder gets removed when `apt` command is used.

[2020-05-05 13:56] jrabensc opened #80 "AUR Package stuck in update loop"
Hi, not quite sure if you maintain the AUR package as well.

Currently, the update is stuck in a loop, see the comments here https://aur.archlinux.org/packages/todoist-electron/

Thanks.

[2020-05-05 14:14] KryDos commented on #80
hi @jrabensc, other guys, with better knowledge of arch, helps me to maintain that package, but I'm the one who actually publish it.
At the moment my arch VM is down after a massive update and I can't get into it and publish the changes made by @hausofwong. So the fix is here, in repo, but it's not published to AUR...

I actually didn't think that changes to AUR can be published from any machine (

[2020-05-07 19:52] KryDos commented on #80
@jrabensc the update is pushed to AUR and I was able to install it from there.

Let me know please if you still have any issues.

[2020-05-07 19:52] #80 closed

[2020-05-12 16:20] ielson opened #81 "Is there an option so start minimized?"
I'd like to start todoist in system startup, but it would be better if I could do start it minimized.
Is there some option that does it?

[2020-05-12 20:47] KryDos commented on #81
hi @ielson,
unfortunately there is no way to do it right now but you're not the first person who ask about this.

https://github.com/KryDos/todoist-linux/issues/43 - here is one more similar feature request. I'm closing this issue, please track the progress there.

[2020-05-12 20:47] #81 closed

[2020-05-15 16:18] michael-wenyon commented on #48
I just experienced this 'stuck in fullscreen' effect in Debian Buster 10. I could not find 'Toggle Fullscreen' at first, but it was in the toolbar menu not the app, and it did the job from there after I alt-tabbed out of Todoist.

[2020-05-17 22:15] stefan2904 commented on #61
I use this command to start the app with increased font size:

`todoist --high-dpi-support=1 --force-device-scale-factor=1.5 &`

(this works for all electron apps, I think.)

[2020-05-20 13:20] Stup0r38 opened #82 "How to uninstall"
I'm not using Todoist anymore, but I really don't know how to uninstall the app.
I'm on fedora 32, I installed the app using the rpm file

[2020-05-20 18:58] Stup0r38 commented on #82
Solved by using the rpm -e command

[2020-05-20 18:58] #82 closed

[2020-05-20 19:00] KryDos commented on #82
Thanks for letting me know the result

[2020-05-26 18:35] awmottaz opened #83 "Quick add shortcut key sequence"
When I perform the following steps...

1. Open a project
2. Type `a` to append a task to the project
3. Close the window
4. Use the Quick Add shortcut

...then I will find myself in the append task text input with a "q" filled in the text input. Here's a screen recording of this sequence:

![Peek 2020-05-26 13-33](https://user-images.githubusercontent.com/17735385/82937317-95a6e200-9f55-11ea-8b2c-

[2020-05-26 18:40] KryDos commented on #83
hey @awmottaz, thanks for so good report and the gif.

It works exactly as you mentioned. The qucik-add event opens the todoist window and then simulates `q` button press. I'll take a look if sending `esc`  key will help (it definitely should help).

I'll let you know the result.

[2020-05-26 18:42] awmottaz commented on #83
Thanks for the quick response @KryDos ! I just opened a PR to add the Escape keydown event. Hopefully that helps!

[2020-05-26 19:10] #83 closed

[2020-05-30 01:37] laszukdawid commented on #79
I'm running on Ubuntu 20.04 and it's fine (though there's a slightly different problem, i.e. it's killed every few hours).

Have you seen any logs? Try searching through
[code]

[2020-06-12 03:58] patrick330602 opened #85 "snap store version?"
It would be great if this have a snap store version. and it is also super easy to get build a snap: https://snapcraft.io/docs/electron-apps

[2020-06-18 06:32] rgsertel opened #86 "Proxy"
Could i use this app behind a proxy? environment variables doesn't work.

[2020-06-18 11:12] KryDos commented on #86
hi @rgsertel,
unfortunately no, the app doesn't respect any proxy related env variables.
Take a look at [ProxyChain](https://github.com/haad/proxychains#readme), I hope it can help you to solve the issue.

[2020-06-21 12:13] tukusejssirs opened #88 "In-app Todoist settings"
Currently, the user can change settings in the browser only. Although there is a settings button, it simply opens the [Todoist website](https://todoist.com/prefs/account).

Would that be too much to grab the content and output it within the wrapper? :wink:

[2020-06-21 13:37] KryDos commented on #88
hey @tukusejssirs,
sounds like a good idea. Thanks!
Feel free to send a PR, otherwise I'll take a look too.

[2020-06-21 14:06] tukusejssirs commented on #88
@KryDos, I'll leave it for you, as I am don't develop front-end nor web(-app) stuff. 😉

[2020-06-21 14:07] KryDos commented on #88
lol, sure :)

[2020-06-21 14:12] tukusejssirs opened #89 "Release `todoist-linux` as a package at npmjs.com"
It might be a good idea to release `todoist-linux` as a package at [npmjs.com](npmjs.com). And as Microsoft bought both GitHub and [npmjs.com](npmjs.com), they have started the integration of [npmjs.com](npmjs.com) into GitHub.

[2020-06-22 03:37] ylqi007 opened #90 "Cannot open todoist"
When I tried to open or login todoist, it just showed a blank window and then just paused there.

![image](https://user-images.githubusercontent.com/23485976/85246220-abea7580-b40f-11ea-8b7a-43f195d191a1.png)

Can anyone help me, please?

[2020-06-22 08:32] KryDos commented on #90
hi @ylqi007,
could you please close the app and remove `~/.config/Todoist`.

[2020-06-22 17:41] tukusejssirs commented on #49
Just to note that on Fedora 32 x86_64 with GNOME 3.36.3 with FF Nightly, FF and Chromium installed—and this app opens any link I click on in the default browser (FF Nightly).

`BROWSER` variable is not defined on my system (and I don’t believe that Fedora nor Ubuntu sets it by default). And `xdg-settings get default-web-browser` outputs `userapp-Nightly-SSGBC0.desktop`, which is correct to my pref

[2020-06-22 17:44] tukusejssirs commented on #43
While fullscreen/kiosk mode is a nice option, I’d like to see a _maximised_ option to open todoist maximised by default, or at least make to remember the last window size and place.

[2020-06-22 19:04] KryDos commented on #43
hey @tukusejssirs,
As far as I remember we use a package that should be able to remember the window size and position. Doesn't it work for you?

[2020-06-26 16:41] Dude29 commented on #65
I agree but wouldn't it make more sense to be a local shortcut instead of a global one?
That way the app would only respond to the quit shortcut if it was in focus

I looked at the source and it doesn't seem too difficult to implement this, if you want I can make the changes to the code

[2020-06-26 20:56] KryDos commented on #65
Yeah, that's unfortunately how I initially implemented it (using global shortcuts). Alt+f4 obvously shouldn't be global and if you (@Dude29) can help me to fix it I'll be super happy

[2020-06-27 21:57] Dude29 commented on #65
OK no problem, I'll make a PR 👍

[2020-06-28 00:14] Dude29 commented on #88
@KryDos check out #93 and tell me what you think :smiley:

[2020-06-29 18:25] #88 closed

[2020-06-29 18:26] KryDos commented on #65
The fix is in the latest 1.23 release now! 🕺

[2020-06-29 18:45] tukusejssirs opened #94 "`make env` reformats the list of dependencies in `package.json`"
This is a minor issue.

When I run `make env` (on Fedora 32 x86_64), it reformats the list of dependencies in `package.json` (see the diff bellow) and thus `git` marks it as modified file.

If you agree, I can create a PR to change the format, otherwise just close this issue.

<details>
<summary><code>git diff package.json</code></summary>

[code]

[2020-06-29 22:11] Dude29 commented on #94
Happened to me aswell during development

[2020-06-29 22:17] Dude29 commented on #85
There seems to be a version on the snap store already.
Check it out [here](https://snapcraft.io/todoist-thibaut)

[2020-06-29 22:24] Dude29 commented on #28
I think double clicking the tray icon to bring the app into foreground would be an acceptable solution.
@KryDos Do you agree? I can attempt to implement this

[2020-06-29 22:28] mikkovedru commented on #28
@Dude29
I personally agree that this would be a definite improvement over the current situation.

[2020-06-30 09:17] KryDos commented on #94
I wonder why `npm install` command would change the formatting... I didn't expect that and didn't see such issues in any projects I worked with. Probably because I never listed dependencies in one-line in those other projects. Good catch though

I just committed the reformatted version of package.json here - 124ec89

[2020-06-30 09:18] #94 closed

[2020-06-30 09:24] KryDos commented on #85
I'm having hard times supporting different stores/sources of the app. For example Arch's AUR repo is 2 version behind the latest release.
I'm not mind to have snap version of the app but I don't think I will be good enough in supporting it.

Do you guys know how to use continues integration (like CircleCI) solutions to automatically update AUR, Snap and possibly other sources? I researched this qu

[2020-06-30 09:26] KryDos commented on #28
@Dude29 sure, I have no objections on this. Definetly should be much more user-friendly if we use one-click.

[2020-07-01 15:22] Dude29 commented on #28
I am afraid I have sad news...

As expected the tray click functionality is not supported on Linux for this version of Electron(4.2.12). It is supported on some of Electron's versions, like 9.0.2 for example, but it's behavior is inconsistent.
I tested it on 9.0.2 and on 8.2.2 and I found that sometimes the clicks come with delay and other times they aren't registered at all. What's worse is that

[2020-07-01 15:29] Dude29 commented on #28
I forgot to mention that I only tested this on Ubuntu 20.04 which uses libappindicator

[2020-07-01 17:00] Dude29 commented on #43
@tukusejssirs Does the app being minimized differ from being only in the tray? Can you share screenshots if that is the case?
I ask because in my distro(Ubuntu 20.04) it is exactly the same.

[2020-07-01 17:24] tukusejssirs commented on #43
@KryDos: I run your app directly from the cloned repo (using `/usr/local/bin/npm run --prefix "[repo_root]/src" start`), that might be the reason why it does not work if it works otherwise. It might be a good idea to create a config file in `~/.config/todoist` or a similar location, where would the wrapper config reside.

@Dude29: Generally speaking, when an app is _minimised_, it is minimised _to

[2020-07-02 00:36] Dude29 commented on #43
Ah I see the distinction now. Ok, thanks for clarifying! :)
I use GNOME, yes.

[2020-07-02 02:25] Dude29 commented on #43
@KryDos Check out #95 I've made some changes there that will make implementing what @tukusejssirs, @gamkiller77 and @mikkovedru suggested a little easier

[2020-07-02 09:03] KryDos commented on #28
wow @Dude29, good research. Thanks! I would leave it as is right now, it works and it's good. Can be better but don't worth the time at least for now.

I'll keep this issue open for future discussion.

[2020-07-07 07:58] tukusejssirs commented on #43
@KryDos: another note on this: the app indeed remembers the window size and position, but not at startup / when the app is restarted. A setting might be added to the config file what state (maximised or custom windows size) should be used when the app is started (even when started minimised to systray, i.e. when no window is visible at first and only later on the app is opened). A better place for

[2020-07-18 09:02] diegolakatos commented on #85
The CircleCI documentation has instructions on how to integrate with Snap store, I hope that this might be useful https://circleci.com/docs/2.0/build-publish-snap-packages/

[2020-07-31 09:29] Oyveloper opened #98 "[Feature request] Quick add popup as separate window in any workspace"
Using the global shortcut for quick add works great whenever I am currently in the same workspace as I have my Todoist window, however if I'm on another workspace the popup will not show, since it is only displayed within the Todoist app. It would be awesome to have quick add as a global separate popup that would be visible in any workspace. This is how the official Todoist app works on macOS.

[2020-07-31 09:43] happydemic opened #99 "Print not working"
Thanks for this great wrapper for Todoist - I use it every day. You've made the death of Wunderlist bearable.

I don't know anything about Electron, so sorry for the dumb question, but is there any way to make the Print option in the main menu work?

In a normal browser, selecting the Print option creates a new browser tab with the selected project in print format, and forces the Print dialogue. B

[2020-08-01 13:28] KryDos commented on #99
Thanks for kind words @happydemic
Currently there is no way to print a page I believe.

It seems like Electron has few methods/functions to print the content of a page but non of them is integrated with the app. I'll think about how to integrate that feature and let you know when it's done.

Obvously you can make it from the web version of Todoist but I understand that it would be much better to p

[2020-08-01 13:38] KryDos commented on #98
hey @Oyveloper,
Yeah, I copmletely agree that it would be great but this todoist app is not a native one. Our "quick add" basically makes the Todoist window active and then virtually press "todoist's quick add keybinding" for you.

I'm pretty sure that is possible to implement a separate window that should appear on the screen when you want to quick add a task but I believe that window should be c

[2020-08-18 15:42] FindHao commented on #65
I'm in v1.23. But this problem still exists.

[2020-08-18 17:03] thekenu opened #102 "How to save login credentials for auto-login?"
Each time I open the application, I have to manually sign in again. Is there a way to automate this process?

[2020-08-19 10:49] KryDos commented on #65
thanks @FindHao for the report. I'll take a look

[2020-08-19 10:51] KryDos commented on #102
hey @thekenu,
There is no way to automate it (at least I don't know about such way) but the app should remember login credentials. I already forgot my password to Todoist since I'm always logged in.

Could you please give me a bit more info about your operating system and about the way you installed the app.

[2020-08-19 13:43] Dude29 commented on #65
Hi!
Could you describe the environment in which you are running the app?
Which distro are you using and your display environment?

[2020-08-19 13:57] FindHao commented on #65
Ubuntu 20.04.1 X86_64
Xorg
Two monitors

[2020-08-19 18:10] thekenu commented on #102
Hey @KryDos thanks for the quick response.

I am on Ubuntu 20.04 and I used the pre-built 1.23.0 deb package from https://github.com/KryDos/todoist-linux/releases. Would you recommend that I build from source or anything like that?

[2020-08-19 18:48] Dude29 commented on #65
Ok this issue might be a little more complicated than expected.

I have the same environment as you with the exception of having only one monitor and I was unable to reproduce this problem on 1.23
I tested it by presing ALT+F4 while having Todoist open but with the file browser focused instead and the behavior was correct: Todoist did not close.
I think what may be happening is that electron is no

[2020-08-20 06:58] KryDos commented on #102
@thekenu I don't think building it from source will help in any way unfortunately.
As far as I know Electron (the base for this wrapper) store cookies and and cache data in `~/.config/Todoist` folder. Could you please take a look if that folder exists and if `Cookies` file is there?

[2020-08-20 07:08] KryDos commented on #65
@Dude29 this is pretty good idea on what is going on. Thanks!
I wonder if I can reproduce it on my side. I'll post here the result

[2020-08-20 17:23] thekenu commented on #102
Yeah `~/.config/Todist/Cookies` and seemed to be populated be sane data. I actually just restarted my computer (It had been left on for days) and the auto-login seems to be working fine now! Closing the ticket ...

[2020-08-20 17:23] #102 closed

[2020-09-03 11:21] tobinstultiens opened #103 "Can't log out after logging in with the wrong google account"
After having logged in with the wrong google account I was incapable of logging out since every time I selected login with a google account it would automatically log me back in with the wrong account.

A work around to solve this is by deleting the `.config/todoist` config map since this has those credentials stored.

[2020-09-04 09:17] NicoWeio opened #104 "Config file not created"
I'm using *Linux Mint 20*, and I installed this application using the latest *deb*. Everything works fine, but I cannot configure the shortcuts without a configuration file. In `~/.config/` there is no `.todoist-linux.json` as described in the *README*. There is a *Todoist* directory, but it doesn't contain any *json* files.
One hint might me the following: `echo $XDG_CONFIG_HOME` gives no output.

[2020-09-04 17:18] KryDos commented on #104
hey @NicoWeio,
Thanks for the report!

The app should fallback to `~/.config` if there is no `$XDG_CONFIG_HOME` env variable defined. Could you run the app from your terminal and see if any permission related errors are showing up?

[2020-09-04 17:23] NicoWeio commented on #104
Already did that, although not on the very first start. I see absolutely no output there.

[2020-09-04 17:25] NicoWeio commented on #104
Oops, my fault. I don't know what exactly went wrong, but it seems like I just overlooked the file. Will close once its functionality is confirmed.

[2020-09-04 17:26] KryDos commented on #104
whew

[2020-09-07 16:07] jayaherkar opened #105 "I can't uninstall it on Kubuntu 20.04"
I ran sudo apt remove ./TodoistPackage but still the app persists in the system. Anyone facing similar issue?

[2020-09-07 16:10] KryDos commented on #105
hey @jayaherkar, thanks for the report.

Do you see any info/warning/error messages when you run `apt remove` command?

[2020-09-08 11:01] jayaherkar commented on #105
Nope! I finally manually removed Todoist files from /opt and also removed desktop entry file so it's good now but I didn't got any error while running `apt remove` command

[2020-09-08 11:03] KryDos commented on #105
Strange. Glad you were able to remove it manually.

I'll keep the issue open until it's confirmed that `apt` is able to remove the app. Thanks again for the report

[2020-09-08 13:52] nsheff commented on #104
I'm having a similar issue; just installed in ubuntu 19.04 and there is no config file. Runing the app from the command line shows no permission errors:

[code]

There is no todoist folder or .todoist... file in `~/.config`. F

`echo $XDG_CONFIG_HOME` is empty.

[2020-09-08 13:53] nsheff opened #106 "Several issues with global shortcut keys"
I just installed using `snap` on Ubuntu 19.10. I notice that, with Todoist runing:

- When I press Ctrl + Alt + A, nothing happens. I expected this to do a Quick Add, as suggested in the docs.
- When I press Ctrl + Alt + T, the todoist app opens. This is not listed in the docs as a keyboard short, so I didn't expect that -- and this is a problem because in gnome3, the Ctrl + Al t + T shortcut is t

[2020-09-08 13:55] nsheff commented on #106
My Gnome settings still say Ctrl+Alt+T should be Launch Terminal, but when Todoist is running, it switches focus to todoist instead.

![image](https://user-images.githubusercontent.com/5271009/92485721-4c536900-f1b9-11ea-9348-8c21b32b93c9.png)

[2020-09-08 14:03] KryDos commented on #106
hi @nsheff,

Did you install this app - https://snapcraft.io/todoist

Doist recently released their official Linux version and if you use that one please contact their support as described on their snap page either [here](https://get.todoist.help/) or [here](https://twitter.com/todoist).

This project is not official app. I think since their official linux app is release it's good time to update t

[2020-09-08 15:44] jayaherkar commented on #105
I was able to remove it manually but I can't install it now.
![Screenshot_20200908_211403](https://user-images.githubusercontent.com/54982718/92498421-3aed7980-f218-11ea-8a94-2069e7eceac4.png)

[2020-09-08 15:45] jayaherkar commented on #105
You got any idea why this issue happened in the first place? Also after removing files from `/opt` and removing desktop files still it's saying Todoist is installed. Please let me know how to solve this.

[2020-09-08 15:49] jayaherkar commented on #105
I can still see Todoist in apt installed package list. I used this command `sudo apt list --installed`
![Screenshot_20200908_211901](https://user-images.githubusercontent.com/54982718/92498971-ef879b00-f218-11ea-8169-62623cdf0093.png)

[2020-09-08 16:20] KryDos commented on #105
Ok so the app is removed manually and apt doesn't know about it and still thinks the app is installed. APT has its own DB so it make sense that the DB doesn't know about the manual remove.

Can you try to delete it with `apt remove todoist`?

[2020-09-09 04:34] Rahul7f opened #107 "Google signing not working"
![image](https://user-images.githubusercontent.com/51960262/92554824-e08a0280-f283-11ea-9591-967b8ad5b360.png)

[2020-09-09 08:05] jayaherkar commented on #105
Yeah! It's working that way. Thanks. I removed that and installed again. No Problems now :)

[2020-09-09 08:08] KryDos commented on #105
Perfect!

[2020-09-09 08:08] #105 closed

[2020-09-09 20:54] KryDos commented on #107
Interesting. Thanks for the report @Rahul7f,
Didn't you try Ctrl+R to refresh the page as it stated in the message? I'm not sure if Ctrl+R will refresh the page but worth a try

[2020-09-15 15:43] tpondant opened #108 "[Feature request] Start todoist on startup"
Hello,

Is there an option to automatically start todoist on startup? When I reboot, I don't see the todoist tray icon in my taskbar. I'm on Linux Mint 19 Cinnamon.

[2020-09-15 15:51] KryDos commented on #108
hi @tpondant,
Thanks for the suggestion.

Even though it is a good idea I'd suggest to update your system to start Todoist at startup instead of doing something on the app side.
I believe in Cinnamon you can go to Settings and find `Startup Applications` there. Just add Todoist app and it should work.

Let me know if you were able to find that Startup Applications section. I didn't use Cinnamon fo

[2020-09-15 16:05] tpondant commented on #108
Hi @KryDos, thank you for mentioning that. It can indeed be found in Startup Applications, hasn't changed for 3 years :) And I was able to find todoist in the apps.

[2020-09-15 16:05] #108 closed

[2020-09-17 09:48] glasnak commented on #107
Hi, I'm experiencing the same issue.
Ctrl+R does refresh the page but does not fix the issue.

[2020-09-18 18:42] tpondant opened #109 "[BUG] Offline mode notification panel unreadable"
When I was on offline mode, I saw that there was a new icon at the top right corner of the todoist app. I moved my cursor to the red triangle icon there to see what it said, but I wasn't able to read the text in the panel displayed while hovering with the cursor over the red triangle icon, because the panel was flickering at a rapid pace.

See screen recording [here](https://u.pcloud.link/publink/

[2020-09-20 10:45] KryDos commented on #109
wow, what a nice bug!
Thanks for the report @tpondant, I'll try to reproduce it on my VM. I hope it will be easy to reproduce.

[2020-09-26 20:39] ceiphr opened #113 "Can we get notification support?"
Title. I think it would be great, and having Todoist start on boot would make this feature even more useful too.

[2020-09-27 12:17] KryDos commented on #113
I like the idea. I don't know what kind of method they use to get those notification (websockets probably). I don't think we can directly subscribe to those notifications but we might listen for changes in their notification bar... what do you think?

[2020-09-27 16:22] ceiphr commented on #113
That sounds like the right approach. I assume electron has some way to catch notifications, so we can relay them to the OS. I'm just unsure if we'd have to implement the relay or if electron would handle it for us.

I'll look into this further in the coming weeks.

[2020-09-30 18:17] xepozz opened #114 "Installation failed"
Hi. I can't install a latest version of todoist.

The fail says that package needed `gconf2`, that depends on `gconf-service`, that depends on `libappindicator1` that depends on `gconf2` :)

[code]

[code]

![image](https://user-images.githubusercontent.com/6815714/94723714-daa6af00-0361-11eb-9c25-381ff2210bea.png)

[2020-10-01 23:30] Araly commented on #65
hey, just found this issue as I was searching what was hijacking my alt-f4, so I'll add the behaviour I see on my end.

I'm using todoist-electron from the AUR which I believe pulls from this repo. Whenever Todoist is running, alt-f4 doesn't work, unless the todoist window is focused. If todoist is focused, alt-f4 kills the whole todoist process. If todoist isn't focused, alt-f4 does nothing, it d

[2020-10-02 13:37] KryDos commented on #65
hey @Araly,
yeah, it is a long time issue. You can fix it by changing (or by adding)  the `quit` key in your `~/.config/.todoist-linux.json` file. Bind that `quit` action to something else and it must free Alt-F4 shortcut for the OS.

As I mentioned above the app use Alt+F4 as a global shortcut and if the app is running(not necessary active) then that shortcut is controlled by the app.
That's not

[2020-10-02 13:42] KryDos commented on #114
hey @xepozz,
As far as I know dpkg doesn't install dependencies automatically.
To install all the deps you must run `sudo apt-get -f install` (or `sudo apt -f install`). Make sure that you run this command after `dpkg`. Dpkg will kind of let apt manager know about what deps should be installed.
Again, I'm not sure, but probably you don't need to run `dpkg -i Todoist...` again and it will be instal

[2020-10-03 01:32] ceiphr commented on #113
Good news! This is already supported in this project. I had notifications disabled on my system for it before (I don't know why).

[2020-10-03 01:32] #113 closed

[2020-10-03 08:14] xepozz commented on #114
I've tried to manually install missed dependencies with usage `apt`. It doesn't work.

[2020-10-03 12:30] tpondant opened #117 "[FEATURE REQUEST] Can't select tasks in board view"
**Issue**
Whlie in board view, I am unable to select a task or more than one tasks using Ctrl and my mouse.

**What is expected**
To be able to select one or multiple tasks at a time while in board view.

**What happens instead**
The task clicked is focused just like it would if you had just left-clicked on it in list or board view.

**How to reproduce**
1. Add project
2. Choose board view
3. Crea

[2020-10-03 13:40] KryDos commented on #117
hi @tpondant,
I didn't use board view but it seems like the feature you have suggested should be pretty useful.

Correct me if I'm wrong but it seems like there is no such functionality in Todoist itself. I'd like to not have any functionality in this wrapper that alter the original functionality of Todoist.

I'd suggest to contact Todoist team directly. I'm not exactly sure where you can do it bu

[2020-10-03 20:23] tpondant commented on #117
hello @KryDos,

I can't select tasks either on todoist.com, so I guess that, yes, it isn't implemented in Todoist itself.

I'll request this feature on their website, but they don't always answer to such requests. I'll let you know if I get an answer.

P.S.
I think you're right to wait for Todoist to integrate it into their product first. I prefer a product that works well with less features than

[2020-10-04 08:15] xiaodl813 opened #119 "Icon in launcher is missing"
I'm using Deepin 20 as my Linux PC. After I installed the latest version,  I found that the icon of Todoist in launcher is missing and I can not fine the icon file in the installation directory (/opt/Todoist). I have checked the todoist.desktop file in /usr/share/application then found the Icon item is "todoist" instead of an absolute path.
Could you please help me to find a solution of this probl

[2020-10-04 11:45] #119 closed

[2020-10-04 11:46] xiaodl813 commented on #119
After several times reboot the icon comes back... However, I have no idea about what happened...

[2020-10-04 19:48] KryDos commented on #119
Thanks for letting me know anyway, @xiaodl813. I'm happy you were able to fix it.

[2020-10-05 23:43] mikkovedru commented on #65
@Araly
And to add to @KryDos 's suggestion, this is what I wrote in my `.todoist-linux.json` file:

F14 button doesn't exist on my keyboard = this hotkey combination will not clash with anything useful, even accidentally.

[2020-10-07 20:29] vikrend commented on #65
I have the same behavior as @Araly when Alt+F4 won't work with any other app focused. Tried to remap it to different combination in config file but had no luck: the app just says that config is wrong and ignores it. I really need my ALT+F4 :)

[2020-10-08 06:53] jrabensc opened #120 "Links not opened in system default browser"
OS: Latest Manjaro running Gnome 3.36.6
Version: 1.24.0-4

Since the update, links within tasks are opened in a native window and not in the system default browser. To open a link in Firefox, I need to manually copy the URL from the task title.

This behavior should be controlled by the settings file.

[2020-10-08 11:29] KryDos commented on #120
hi @jrabensc, thanks for the report.
This is not intended behavior and external links should open in system default browser.

I hope it will be fixed quickly, I'll let you know

[2020-10-08 20:57] TheLumbee opened #121 "Clicking on tasks crashes app"
When clicking on the task completions at top of window, it gets stuck unable to remove and app must be killed to continue use
![Screenshot from 2020-10-08 13-55-23](https://user-images.githubusercontent.com/55369094/95512809-3bd80f00-096e-11eb-98d8-9fe790a2cf26.png)

[2020-10-08 23:00] mikkovedru opened #122 "Getting useful code and features from the original project that inspired KryDos's version?"
@KryDos 's version was inspired by [this](https://github.com/kamhix/todoist-linux/commits/master) project.

`Unfortunately, it doesn't seem to be maintained anymore and has some issues with Tray functionality on latest Ubuntu.`

After KryDos created his project years ago, the original project had some life in it and was sometimes irregularly updated as well. It is not nearly as active as this one,

[2020-10-17 21:08] mikkovedru opened #124 "URL in task name is opening in non-default-browser (Chromium)"
* OS Linux Mint 20 Cinnamon (Based on Ubuntu 20.04)
* Cinnamon 4.6.7

I updated my OS from Mint 19.3 to Mint 20 and at the same time, I also updated all other programs, including todoist-linux (it has been some time since I last updated todoist-linux and I had to jump a few versions).

Now I noticed that the links that are in the task names are opening in a separate Chrome window (without address

[2020-10-17 22:00] mikkovedru opened #125 "New menu (invoked by pressing ALT) conflicts with internal todoist's "edit task" function"
* OS Linux Mint 20 Cinnamon (Based on Ubuntu 20.04)
* Cinnamon 4.6.7

In todoist you can edit tasks by:
1. clicking on them. It opens a big full-screen window with a lot of options (subtasks, comments, activity).
2. Alt-clicking on them. This allows to quickly edit the name and some other major characteristics (priority, date)

Unfortunately, the creation of the menu (invoked by pressing ALT) in t

[2020-10-18 11:26] KryDos commented on #125
Good catch @mikkovedru, Thanks.
I didn't know about alt-click type of editing. It sounds pretty nice.

I hope it can be fixed quickly.

[2020-10-18 11:27] KryDos commented on #124
hm, I remember we had such issue before. It seems like regression of that bug.
Thanks a lot for the issue creation.

[2020-10-20 15:39] silverben10 opened #126 "Spaces between words in sidebar and project windows are too wide."
I've noticed an odd spacing issue on some areas of text within the application. See the image for reference:

![image](https://user-images.githubusercontent.com/21127383/96609621-9d936400-12f2-11eb-8839-5e585f751633.png)

The areas I've noticed this problem affecting are:
- project names in the sidebar
- *Add Project* button in the sidebar
- Project titles in the main view (where all of a project'

[2020-10-20 15:54] KryDos commented on #126
hey @silverben10,
thanks for the report of this issue.

I don't see such behavior but I'd like to test more. Could you please share what is the system you're using (windows or linux and if linux then what distro and what desktop environment) ?

[2020-10-20 15:56] silverben10 commented on #126
Of course, thanks for the quick reply!

* OS: Linux
* Distro: Arch
* DE: KDE

I can try reinstalling it and see if the issue persists?

[2020-10-20 16:01] KryDos commented on #126
Thanks!
I don't think re-installation will help, it may be related to system font and its interference with the original font the app is using. But it's just a guess. I'll try to install kde to my test machine (not arch though) and I get back to you with more info.

If you can find what font do you use in KDE that would be helpful

[2020-10-20 16:05] silverben10 commented on #126
Ok, sounds good. Here are the font settings for my DE.

![image](https://user-images.githubusercontent.com/21127383/96612840-2bbd1980-12f6-11eb-89ca-f05e3519a953.png)

I downloaded the fonts using [this](https://aur.archlinux.org/packages/otf-san-francisco/) AUR package

[2020-10-21 16:14] mikkovedru commented on #125
Maybe @ceiphr could help fixing this issue?

[2020-10-21 16:25] ceiphr commented on #125
Nice catch. This weekend I can look into this issue.

[2020-10-23 20:12] mikkovedru opened #127 "Suggestion: zoom in/out using Ctrl + Mouse Wheel"
I would like to suggest an addition to this ( `Added zoom in/out support with shortcuts and menubar` ) commit https://github.com/KryDos/todoist-linux/commit/32920cb47ed2203f789f2a0b000863b568dbcbf1 by @ceiphr.

In it, `Ctrl+'+'` and `Ctrl+'-'` shortcuts were added to zoom in and zoom out the content of the app.

It would be nice to be able to access the same functionality using `Ctrl+MouseWheelUp`

[2020-10-24 21:18] ceiphr commented on #125
I can confirm this issue is reproducible. It is also an issue on Todoist's Official snap.

IIRC <kbd>Alt</kbd> is a hard-coded toggle in electron.

I've filed an issue on https://github.com/electron/electron to prevent the toggle on mouse click: https://github.com/electron/electron/issues/26149

AFAIK, our only option for now is to offer a setting in the config to disable zoom in/out/reset and the

[2020-10-24 21:22] ceiphr commented on #127
I like the idea and it seems do-able:
https://stackoverflow.com/questions/40262110/zoom-with-ctrlscroll-wheel-in-electron-app

I'll see if I can make a PR before monday.

[2020-10-25 13:48] mikkovedru commented on #125
1. The response https://github.com/electron/electron/issues/26149#issuecomment-716075800 there says that we should try to update to a new supported version of the Electron and see if the issue is still present.

I guess this should be the first priority then. I don't know how complicated it is to update from the currently used Electron version to a new one...

2. I don't see a need to disable zoom

[2020-10-25 13:52] mikkovedru commented on #125
Here is what the Wikipedia article says about Electron versions. FYI todoist-linux uses version 4.2.12.
![image](https://user-images.githubusercontent.com/2521942/97109072-e758c180-16d9-11eb-94f6-c2c4c74e7e7e.png)

[2020-10-25 16:00] ceiphr commented on #125
1. I'll make a branch on my fork to try and experiment with upgrading electron.
2. It is bizarre to say, but sadly the zoom functionality comes from the alt menu existing. I'm just invoking a role electron has set for the feature.
3. IIRC This is possible, but it wouldn't override alt, so you would have the alt toggle and another key binding for toggling as well.
4. This is possible and easy to im

[2020-10-25 17:37] ceiphr commented on #125
Upgrading the electron dependencies doesn't resolve the issue:
https://github.com/ceiphr/todoist-linux/tree/update-electron

[2020-10-25 18:41] ceiphr commented on #127
After further research, I'm actually not sure how to properly implement this feature.

This issue is the block I'm stuck on:
https://github.com/electron/electron/issues/12436

@mikkovedru please let me know if you can find an approach that works.

[2020-10-25 19:20] mikkovedru commented on #127
@ceiphr
Seems like a real bug. And it seems that Electron developers won't do anything until todoist-linux is updated to the modern version of Electron and the bug is confirmed once again.

[2020-10-25 21:29] ceiphr commented on #127
When I try to leverage `addeventlistener` the way they did, electron tells me it isn't a function.

I'll try to get a working version pushed on my fork this week, so I can confirm the bug on https://github.com/electron/electron/issues/12436.

@mikkovedru please let me know if you can find a way to get `addeventlistener` working with `BrowserWindow`.

[2020-10-26 13:59] ceiphr commented on #124
Can confirm. Does it have something to do with how logins work?

[2020-10-26 21:28] mikkovedru commented on #124
Mostly because of this issue (alt-menu issue also minorly influenced my decision) I decided to downgrade and go back to version 1.23.

[2020-10-27 13:51] ceiphr commented on #124
Understandable. Hopefully we can get these issues resolved soon.

[2020-10-28 15:32] ceiphr commented on #124
@mikkovedru I've written https://github.com/KryDos/todoist-linux/pull/128 and https://github.com/KryDos/todoist-linux/pull/129 to fix the problems you're experiencing. https://github.com/KryDos/todoist-linux/pull/128 is a quick fix until we can solve the problems with electron. https://github.com/KryDos/todoist-linux/pull/129 is a direct fix for this issue.

[2020-10-30 10:39] vitperov commented on #114
Try sudo apt install -f just after dpkg:
![image](https://user-images.githubusercontent.com/3582851/97695620-63298400-1ab5-11eb-8495-09f2361966d7.png)

[2020-10-30 10:43] vitperov commented on #90
Hi KryDos!

I have the same issue, but with different picture:
![image](https://user-images.githubusercontent.com/3582851/97695893-cfa48300-1ab5-11eb-96fe-bc6781fe1a33.png)

`rm -rf ~/.config/Todoist/` doesn't change anything.

[2020-10-30 12:54] KryDos commented on #90
hey @vitperov,
thanks for letting me know about it.

Looks interesting. That icon and loading gif must be centered. As far as I understand that loading process is never finished so probably some kind of JS error happened during the loading process. Does web version work fine on your side?

[2020-10-30 16:22] vitperov commented on #90
Oh, sorry. It looks like new bug. I should have opened a new issue.

Yes, works fine in firefox. Just chcked in chomium - works.

[2020-10-30 16:35] KryDos commented on #90
No worries, that's fine to keep this issue here. I'm currently not sure if your issue is the same as the one @ylqi007 experienced.
I plan to update electron version during this weekend (PR is already waiting here - https://github.com/KryDos/todoist-linux/pull/128). I hope that will fix the issue.

Is there any chance you can test the issue with one of the previous versions of the app? (all the rel

[2020-10-31 11:07] vitperov commented on #90
Just tested version 1.18 - the same screen.

[2020-11-06 14:54] xepozz commented on #114
I've installed todoist from Snap.

[2020-11-06 14:54] #114 closed

[2020-11-11 00:24] rjhilgefort commented on #90
Looks like this is being worked on, but just wanted to chime in and say that I'm seeing this as well on Arch.

[2020-11-18 20:30] kendoori commented on #90
I am also having the same issue with 1.24.0 on Linux Mint 20. Version 1.23.0 works.

[2020-11-19 03:33] kendoori commented on #28
Given that it seems not possible to single or double click on the tray to show/hide ToDoIst, I would love a way to bind "Open Todoist" to a keyboard shortcut.

[2020-11-19 15:43] kendoori commented on #28
Discovered via preferences that this works:
**"show-hide": "CommandOrControl+Alt+Q",**

[2020-11-23 21:30] hellmrf commented on #59
Shouldn't this issue be closed, as the problem is solved?

[2020-11-23 22:05] hellmrf commented on #85
The [Action Electron Builder](https://github.com/samuelmeuli/action-electron-builder) for Github Actions deploys to Snapcraft. Maybe it's useful.

[2020-11-28 11:40] nuschpl opened #132 "After it's open overnight blank white screen is displayed"
Changing categories doesn't cause refresh, the only way is to restart

[2020-11-28 12:48] KryDos commented on #59
Make sense, closing it. Thanks @hellmrf

[2020-11-28 12:48] #59 closed

[2020-11-29 14:01] hellmrf opened #134 "Problems with global Shortcuts"
I've noticed that many system shortcuts are overridden when Todoist is running (in Ubuntu 20.04/GNOME 3.36.3). For instance, I can't use <kbd>Alt</kbd> + <kbd>↑</kbd> in my editor to move lines even if Todoist is minimized to tray. Maybe it's an electron bug, idk. I'm using the code in `master`.

If someone know what may be causing the problem, I can try to fix it and send a PR, but I really don't

[2020-11-29 16:06] KryDos commented on #134
@hellmrf yeah, this issue is in this project since the beginning.
I initially registered shortcuts as global and now we have this issue.
[Even Alt+F4 closes todoist even if you try to close another app.](https://github.com/KryDos/todoist-linux/issues/65)

It's interesting that Alt+↑ won't work, I thought Todoist don't have such shortcut. Do you have it in your .todoist-linux.json?

[2020-12-13 15:14] tpondant opened #135 "[BUG] Can't reorder tasks in board view on todoist linux"
How to reproduce?

1. Create a board project.
2. Add tasks.
3. Try to change the position of tasks in a same column

The tasks cannot be moved.

[2020-12-19 20:04] m-danya commented on #125
Hi! Thanks for your hard work. I will be really appreciative, if you add the menu-disable option to config.

[2020-12-19 20:32] m-danya commented on #125
Hi! I've set "toggle-menubar" to false in the config (i had to add it manually, there was no such a parameter), but the ALT button is still causes the menu to be displayed. Am I doing everything right?

[2020-12-19 22:17] ceiphr commented on #125
@m-danya #129 has a bug I need to fix after final exams. If you want the version with the #128 fixes, pull and build https://github.com/ceiphr/todoist-linux/tree/feature-menubar-improvements. It will create `Todoist_1.24.0_amd64.deb` like you mentioned. Just reinstall the package and you should be set.

[2020-12-20 07:55] m-danya commented on #125
Thank you, it works! I really appreciate your work!

The full sequence of steps I've taken is listed below, i think it can be useful for people, who want to get the alt-button problem fix:
[code]

[2020-12-23 09:03] ghostlyt opened #136 "Unable to click out of pop-ups"
I'm unable to get rid of most pop ups, such as notifications or the karma tracker. Neither escaping nor clicking away works, I need to exit the program all together in order to make it functional again. I have attached a video to show what's going on.

https://user-images.githubusercontent.com/8316533/102979110-9a277f00-44d3-11eb-8214-d0c4db32a813.mp4

Let me know if I need to do anything on my en

[2021-01-07 15:48] stefan2904 commented on #135
This happens when you have some sorting enabled, for example "sort by priority". Apparently this is currently by design, as the Todoist support told me. Are you sure this is not the case in your case?

[2021-01-08 14:52] grok commented on #107
Installing on Ubuntu 18.04.3 LTS 64-bit
![image](https://user-images.githubusercontent.com/495761/104028529-d2e37b80-5196-11eb-86cb-87f627515792.png)
![image](https://user-images.githubusercontent.com/495761/104028655-fd353900-5196-11eb-9b62-50de4ea38264.png)
![image](https://user-images.githubusercontent.com/495761/104028676-02928380-5197-11eb-8e21-8e0028d9e81e.png)
![image](https://user-images.g

[2021-01-10 10:16] piotrekfus91 commented on #107
Same for me. Some Googling shows that it may be relatively easy to fix for one knowing Electron: https://stackoverflow.com/questions/59685927/electron-application-using-google-oauth-this-browser-or-app-may-not-be-secure

[2021-01-10 14:23] grok commented on #107
For what it's worth:

[2021-01-15 09:04] #74 closed

[2021-01-15 09:04] #79 closed

[2021-01-15 09:04] #85 closed

[2021-01-15 09:04] #86 closed

[2021-01-15 09:04] #89 closed

[2021-01-15 09:04] #90 closed

[2021-01-15 09:04] #98 closed

[2021-01-15 09:04] #99 closed

[2021-01-15 09:04] #103 closed

[2021-01-15 09:04] #104 closed

[2021-01-15 09:04] #106 closed

[2021-01-15 09:04] #107 closed

[2021-01-15 09:04] #109 closed

[2021-01-15 09:04] #117 closed

[2021-01-15 09:04] #120 closed

[2021-01-15 09:04] #121 closed

[2021-01-15 09:04] #122 closed

[2021-01-15 09:04] #124 closed

[2021-01-15 09:04] #125 closed

[2021-01-15 09:04] #126 closed

[2021-01-15 09:04] #127 closed

[2021-01-15 09:04] #132 closed

[2021-01-15 09:04] #134 closed

[2021-01-15 09:04] #135 closed

[2021-01-15 09:04] #136 closed

[2021-01-15 09:05] #19 closed

[2021-01-15 09:05] #28 closed

[2021-01-15 09:05] #40 closed

[2021-01-15 09:05] #43 closed

[2021-01-15 09:05] #48 closed

[2021-01-15 09:05] #49 closed

[2021-01-15 09:05] #53 closed

[2021-01-15 09:05] #54 closed

[2021-01-15 09:05] #61 closed

[2021-01-15 09:05] #63 closed

[2021-01-15 09:05] #65 closed